@media (max-width: 1920px) {
  .btn-main {
    padding: 11.25px 33.75px;
  }

  /* Header */
  #header {
    padding: 37.5px;
  }

  #illustration {
    padding: 37.5px 0;
  }
  #illustration #hungrywolf {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 717px;
    height: 486px;
  }
  #illustration #hungrywolf h2 {
    font-size: 82.5px;
  }
  #illustration #hungrywolf #oh {
    left: 11.25px;
  }
  #illustration #hungrywolf #no {
    top: 86.25px;
    left: 82.5px;
  }

  #footer {
    padding: 37.5px 0;
  }
}
@media (max-width: 1600px) {
  .btn-main {
    padding: 8.25px 24.75px;
  }

  /* Header */
  #header {
    padding: 27.5px;
  }

  #illustration {
    padding: 27.5px 0;
  }
  #illustration #hungrywolf {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 525.8px;
    height: 356.4px;
  }
  #illustration #hungrywolf h2 {
    font-size: 60.5px;
  }
  #illustration #hungrywolf #oh {
    left: 8.25px;
  }
  #illustration #hungrywolf #no {
    top: 63.25px;
    left: 60.5px;
  }

  #footer {
    padding: 27.5px 0;
  }
}
@media (max-width: 1366px) {
  .btn-main {
    padding: 6.75px 20.25px;
  }

  /* Header */
  #header {
    padding: 20px;
  }
  #header h1 {
    font-size: 78px;
  }

  #illustration {
    padding: 20px 0;
  }
  #illustration #hungrywolf {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 478px;
    height: 324px;
  }
  #illustration #hungrywolf h2 {
    font-size: 49.5px;
  }
  #illustration #hungrywolf #oh {
    left: 6.75px;
  }
  #illustration #hungrywolf #no {
    top: 51.75px;
    left: 49.5px;
  }

  #footer {
    padding: 20px 0;
  }
}
@media (max-width: 768px) {
  .btn-main {
    padding: 6.75px 20.25px;
  }

  /* Header */
  #header {
    padding: 20px;
  }
  #header h1 {
    font-size: 78px;
  }

  #illustration {
    padding: 20px 0;
  }
  #illustration #hungrywolf {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 334.6px;
    height: 226.8px;
  }
  #illustration #hungrywolf h2 {
    font-size: 49.5px;
  }
  #illustration #hungrywolf #oh {
    left: 6.75px;
  }
  #illustration #hungrywolf #n65 {
    top: 51.75px;
    left: 49.5px;
  }

  #footer {
    padding: 20px 0;
  }
}
@media (max-width: 468px) {
  .btn-main {
    padding: 5.25px 15.75px;
  }

  /* Header */
  #header {
    padding: 15px;
  }
  #header h1 {
    font-size: 65px;
  }

  #illustration {
    padding: 15px 0;
  }
  #illustration #hungrywolf {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 239px;
    height: 162px;
  }
  #illustration #hungrywolf h2 {
    font-size: 38.5px;
  }
  #illustration #hungrywolf #oh {
    left: 3.75px;
  }
  #illustration #hungrywolf #no {
    top: 28.75px;
    left: 27.5px;
  }

  #footer {
    padding: 15px 0;
  }
}
