@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-black-webfont.eot');
  src: url('../fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black-webfont.woff') format('woff'), url('../fonts/lato/lato-black-webfont.ttf') format('truetype'), url('../fonts/lato/lato-black-webfont.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bold-webfont.eot');
  src: url('../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold-webfont.woff') format('woff'), url('../fonts/lato/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bolditalic-webfont.eot');
  src: url('../fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic-webfont.woff') format('woff'), url('../fonts/lato/lato-bolditalic-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-italic-webfont.eot');
  src: url('../fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic-webfont.woff') format('woff'), url('../fonts/lato/lato-italic-webfont.ttf') format('truetype'), url('../fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-light-webfont.eot');
  src: url('../fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light-webfont.woff') format('woff'), url('../fonts/lato/lato-light-webfont.ttf') format('truetype'), url('../fonts/lato/lato-light-webfont.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-regular-webfont.eot');
  src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular-webfont.woff') format('woff'), url('../fonts/lato/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* general styles */
img{max-width:100%;}
iframe{border:none;}
body{
	overflow-x:hidden;
	font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.72222;
  color: #777;
  background-color: #ffffff;
  background-image:url(../images/5.png);
  background-attachment:fixed;
  background-repeat:repeat;
	background-position:center center;
  }

  ul,li{text-decoration:none;list-style:none;}

  a{display:inline-block;}
 a {
  color: #777;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}
a:focus {
  outline: none;
}
p {
	font-size: 14px;
	color:#999;
	margin:0;
	
	
}
h1,h2,h3,h4,h5,h6{font-family:'Montserrat';color:#333;text-transform:uppercase;letter-spacing:1px;}
h1 {
	font-size: 60px;
	font-weight:900;
	line-height:1;
	margin:0;
	
}

h2 {
	font-size: 48px;
	font-weight:900;
	margin:0;
}

h3 {
	font-size: 32px;
	font-weight:700;
	text-transform:uppercase;
}

h4 {
	font-size: 24px;
	font-weight:700;
}

h5 {
	font-size: 18px;
	font-weight:700;
	text-transform:uppercase;
	color:#333;
}
h6 {
	font-size: 18px;
	font-weight:400;
	line-height:1.6;
	text-transform:uppercase;
}
#page{}
.header{
	background:url(../images/slider.jpg) no-repeat;
	background-attachment:fixed;
	background-size:cover;
	min-height:935px;
	position:relative;
	z-index:1;

}
.header-top-nav{padding:100px 0 0;border-bottom:1px solid rgba(255,255,255,0.05);}
h3 span{font-size:inherit;font-weight:inherit;font-family:inherit;text-transform:inherit;line-height:inherit;letter-spacing:inherit;}
.logo{text-align:left;}

.top-menu-links{}
.top-menu-links ul{text-align:right;margin-bottom:0;margin-top:10px;}
.top-menu-links ul li{display:inline-block;}
.top-menu-links a{color:#fff;text-transform:uppercase;transition:all 0.3s ease;font-weight:700;letter-spacing:1px}
.top-menu-links a.link{}
.top-menu-links a.purchase-btn{padding:8px 20px;background:#82b541;border-radius:3px;font-size:14px;margin-left:30px;text-align:center}
.top-menu-links a.purchase-btn:hover{background:#fff;color:#82b541;transition:all 0.3s ease;}
.header-btn-wrap{text-align:center;margin-top:40px;}
.header-btn-wrap a{margin-left:20px;padding:12px 40px;min-width:240px;border:2px solid #DE0000;
	color:#DE0000;text-transform:uppercase;font-size:18px;border-radius:6px;font-weight:700;
}
.header-btn-wrap a:first-child{margin-left:0;}
.header-btn-wrap a:hover{background:#333;color:#fff;border:2px solid #333;}
.page-title{text-align:center;padding:70px 0;}
.page-title h5{}
.page-title p{font-size:18px;text-transform:capitalize;}
.divider{width:100px;height:3px;margin:15px auto;text-align;center;}
.divider span{width:50%;display:inline-block;height:inherit;float:left;}
.divider span:nth-child(1){background:#ffd119;}
.divider span:nth-child(2){background:#82b541;}

.demo-nav-main{margin-top:50px;}
.demo-nav-main ul{text-align:center;margin:0 -7px;}
.demo-nav-main ul li{display:inline-block;padding:0 7px;}
.demo-nav-main ul li a {min-width:200px;padding:10px 30px;border:2px solid #82b541;border-radius:4px;color:#82b541;text-transform:uppercase;font-weight;700;font-family:'Montserrat';}
.demo-nav-main ul li a:hover {background:#82b541;color:#fff;}




.pull-up{margin-top:-100px;}
.slider-text{text-align:center;}
.slides{position: relative;}
.slides img{position: absolute;transition:all 0.3s ease;}
.slides img:hover{transform:translateY(-10px);transition:all 0.3s ease;}
.slide1 {left: -30px;top: 190px;}
.slide2 {left: 190px;top: 140px;z-index: 10;}
.slide3 {left: 0;margin: 0 auto;right: 0;top: 95px;z-index: 15;}
.slide4 {right: 190px;top: 140px;z-index: 10;}
.slide5 { right: -30px;top: 190px;}
.content-main{background:#fff;box-shadow:0 18px 16px 4px rgba(0,0,0,0.05);z-index:10000000;position:relative;padding-bottom:70px;}
.demo-tag{width:100%;text-align:center;margin-top:-95px;}
.demo-tag{}
.version-tag{}
.version-tag.tx-left{text-align:left;}
.version-tag.tx-right{text-align:right;}
.version-tag h5{padding:15px 50px; text-align:center;display:inline-block;margin:0;font-family:'Montserrat';font-size:18px;}
.bg-blue{background:#08c2f3;}
.bg-yallow{background:#ebc131;}
.bg-green{background:#aac041;}
.bg-red{background:#d7334c;}
.tx-white{color:#fff;}
.tx-333{color:#333;}
.tx-yallow{color:#ffd119;}
.comingsoon-placeholder{width:100%;height:400px;text-align:center;}
.comingsoon-placeholder h4{margin:0;padding-top:172px;}
.demo-item{margin-bottom: 50px;}	
.demo-item .figure{height:430px;box-shadow:0 4px 8px 2px rgba(0,0,0,0.1);padding:15px;overflow:hidden;background:#fff;transition:all 2.5s ease;}
.demo-item .figure.height2{height:670px;}
.demo-item .figure a{
	display: block;
    height: 100%;
    overflow: hidden;
	transition:all 1s ease;
}
.demo-item .figure a img{
	transition:all 2.5s ease;
	display: block;
    width: 100%;
}
.demo-item .figure:hover a img{
	transition:all 2.5s ease;
}
.demo-item .figure.m1:hover a img{transform:translateY(-985px);}
.demo-item .figure.m2:hover a img{transform:translateY(-1100px);}
.demo-item .figure.m3:hover a img{transform:translateY(-800px);}
.demo-item .figure.m4:hover a img{transform:translateY(-840px);}
.demo-item .figure.m5:hover a img{transform:translateY(-923px);}
.demo-item .figure.m6:hover a img{transform:translateY(-600px);}
.demo-item .figure.m7:hover a img{transform:translateY(-695px);}
.demo-item .figure.m8:hover a img{transform:translateY(-975px);}
.demo-item .figure.m9:hover a img{transform:translateY(-1100px);}
.demo-item .figure.m10:hover a img{transform:translateY(-872px);}
.demo-item .figure.m11:hover a img{transform:translateY(-655px);}
.demo-item .figure.m12:hover a img{transform:translateY(-743px);}
.demo-item .figure.m13:hover a img{transform:translateY(-930px);}
.demo-item .figure.m14:hover a img{transform:translateY(-470px);}
.demo-item .figure.m15:hover a img{transform:translateY(-625px);}
.demo-item .figure.m16:hover a img{transform:translateY(-590px);}

.demo-item .figure.o1:hover a img{transform:translateY(-1140px);}
.demo-item .figure.o2:hover a img{transform:translateY(-880px);}
.demo-item .figure.o3:hover a img{transform:translateY(-885px);}
.demo-item .figure.o4:hover a img{transform:translateY(-913px);}
.demo-item .figure.o5:hover a img{transform:translateY(-835px);}
.demo-item .figure.o6:hover a img{transform:translateY(-865px);}
.demo-item .figure.o7:hover a img{transform:translateY(-1122px);}
.demo-item .figure.o8:hover a img{transform:translateY(-865px);}
.demo-item .figure.o9:hover a img{transform:translateY(-1042px);}
.demo-item .figure.o10:hover a img{transform:translateY(-1145px);}
.demo-item .figure.o11:hover a img{transform:translateY(-1295px);}
.demo-item .figure.o12:hover a img{transform:translateY(-980px);}
.demo-item .figure.o13:hover a img{transform:translateY(-1065px);}
.demo-item .figure.o14:hover a img{transform:translateY(-822px);}
.demo-item .figure.o15:hover a img{transform:translateY(-725px);}

.demo-item .figure.b1:hover a img{transform:translateY(-855px);}
.demo-item .figure.b2:hover a img{transform:translateY(-630px);}
.demo-item .figure.b3:hover a img{transform:translateY(-635px);}
.demo-item .figure.b4:hover a img{transform:translateY(-710px);}
.demo-item .figure.b5:hover a img{transform:translateY(-590px);}
.demo-item .figure.b6:hover a img{transform:translateY(-622px);}
.demo-item .figure.b7:hover a img{transform:translateY(-865px);}
.demo-item .figure.b8:hover a img{transform:translateY(-615px);}
.demo-item .figure.b9:hover a img{transform:translateY(-795px);}
.demo-item .figure.b10:hover a img{transform:translateY(-875px);}
.demo-item .figure.b11:hover a img{transform:translateY(-1045px);}
.demo-item .figure.b12:hover a img{transform:translateY(-720px);}
.demo-item .figure.b13:hover a img{transform:translateY(-820px);}
.demo-item .figure.b14:hover a img{transform:translateY(-550px);}
.demo-item .figure.b15:hover a img{transform:translateY(-466px);}



.demo-item .title{margin: 30px 0;text-align:center;}
.demo-item .title h5{font-size:14px;font-family:'Montserrat';}
.demo-item .title h5 a{color:#333;font-family;'Montserrat';}	

.feature-wrapper{}
.feature-content{margin-bottom:30px;}
.feature-content img{border:1px solid #eee;transition:all 0.3s ease;width:100%;display:block;}
.feature-content img:hover{border:1px solid rgba(255,255,255,0);box-shadow:0 3px 6px 2px rgba(0,0,0,0.06);transition:all 0.3s ease;}


.bottom-section{
	background-image: url('../images/bg2.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	padding:100px 30px;
	background-attachment:scroll;
	text-align:center;
	display:block;
	}
.bottom-section h3{color:#fff;}
.bottom-section h6{color:#fff;}

.payment-section{
	background-image: url('../images/section-bg.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	padding-bottom:100px;
	background-attachment:fixed;
	text-align:center;
	min-height:760px;
}
.payment-section img{
	
	 bottom: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}
.padding-0{padding-left:0 !important;padding-right:0!important;}

.footer{background:#10162b;text-align:center;}
.copyright-text{text-align:center;padding:30px 0; border-top:1px solid rgba(255,255,255,0.05);}
.copyright-text p{color:#fff; font-family:'Montserrat';}
.social-links-wrap{text-align:center;padding:100px 0 40px;}
.social-links-wrap ul{margin:0;padding:0;}
.social-links-wrap ul li{display:inline-block;margin-left:10px;}
.social-links-wrap ul li:first-child{margin-left:0;}
.social-links-wrap ul li a{display:block;width:40px;height:40px;border:1px solid rgba(255,255,255,0.10);color:#fff;font-size:16px;text-align:center;}
.social-links-wrap ul li a:hover{border:1px solid #08c2f3;color:#fff;background:#08c2f3;}
.social-links-wrap ul li a i{line-height:2.4;}

.back-to-top{position:fixed;right:30px;bottom:30px;text-align:center;}
.back-to-top a{
	background: #000;
    border-radius: 6px;
    color: #fff;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    width: 50px;
	opacity:0.9;
	text-align:center;
}
.back-to-top a:hover{opacity:1;}

@media (max-width:767px){
	.slide1,.slide2,.slide4,.slide5{display:none;}

}
@media (min-width:768px) and (max-width:980px){
	.slide2{left:70px;}
	.slide4{right:70px;}

}
@media (min-width:981px) and (max-width:1199px){
	.slide2{left:100px;}
	.slide4{right:100px;}

}