@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'heart_shapesregular';
    src: url('heart_shapes-webfont.eot');
    src: url('heart_shapes-webfont.eot?#iefix') format('embedded-opentype'),
         url('heart_shapes-webfont.woff2') format('woff2'),
         url('heart_shapes-webfont.woff') format('woff'),
         url('heart_shapes-webfont.ttf') format('truetype'),
         url('heart_shapes-webfont.svg#heart_shapesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('montserrat-regular-webfont.eot');
    src: url('montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-regular-webfont.woff2') format('woff2'),
         url('montserrat-regular-webfont.woff') format('woff'),
         url('montserrat-regular-webfont.ttf') format('truetype'),
         url('montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}