/*
 * LESS VARIABLES
 */
/* Colors
----------------------------------------------------------*/
/* Body
----------------------------------------------------------*/
/* Typography
----------------------------------------------------------*/
/*================LAYOUT================*/
.page-title {
  background: url(images/bg-title.png) repeat;
}
.page-title h1 {
  margin: 0;
  padding: 39px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}
.breadcrumbs {
  border-bottom: 1px solid #ebebeb;
  font-size: 13px;
}
.breadcrumbs ul {
  margin-bottom: 0;
  padding: 0;
}
.breadcrumbs li {
  list-style: none;
  color: #888;
  display: inline-block;
  padding: 15px 0;
}
.breadcrumbs a {
  color: #555;
}
.breadcrumbs a:hover {
  color: #ffae4e;
}
.breadcrumbs span {
  margin: 0 6px;
}
.box-shadow {
  width: 100%;
  height: 50px;
  background: #FFF;
  margin: auto;
  position: relative;
}
.box-shadow:before,
.box-shadow:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  top: 80%;
  bottom: 0;
  left: 30px;
  right: 30px;
  border-radius: 50%;
}
/* Back to Top Button  ----------------------- */
#back-to-top {
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  display: none;
  text-align: center;
  border-radius: 50%;
  z-index: 10000;
  height: 35px;
  width: 35px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s linear;
}
#back-to-top i {
  padding-top: 6px;
  font-size: 20px;
}
#back-to-top:hover {
  background: rgba(255, 174, 78, 0.7);
}
/*Home Page 1*/
.homepage h2 {
  margin-bottom: 70px;
  position: relative;
}
.homepage h2.left {
  margin-bottom: 55px;
}
.homepage section {
  padding: 50px 0 75px;
  position: relative;
}
.homepage .shadow-section {
  margin-top: -50px;
  padding: 0;
  z-index: -1;
}
.homepage .our-services {
  padding: 80px 0 30px;
}
.homepage .partners {
  padding: 60px 0;
  background: #f4f4f4;
}
.homepage .features-home2 {
  padding: 75px 0;
}
.homepage .latest-project {
  padding-bottom: 0;
}
.homepage .latest-project2 {
  padding-bottom: 0;
  background: #333;
}
.homepage .latest-project2 h2 {
  color: #fff;
}
.homepage .features-home,
.homepage .action-image,
.homepage .home-slider {
  padding: 0;
}
.homepage .features-home.home3 .parallax-hourse,
.homepage .action-image.home3 .parallax-hourse,
.homepage .home-slider.home3 .parallax-hourse {
  padding-top: 50px;
}
.homepage .home-banner {
  background: url(images/home3.jpg) top center no-repeat;
  padding: 300px 0 200px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.homepage .home-banner .overlay {
  background: rgba(12, 20, 32, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.homepage .parallax-action {
  padding: 120px 0;
  background: url(images/bg-home1.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.homepage .parallax-action .overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
h2.after:before,
h2.after:after {
  position: absolute;
  height: 1px;
  background: #ccc;
  width: 80px;
  bottom: -17px;
  left: 50%;
  margin-left: -40px;
  content: '';
}
h2.left.after:before,
h2.left.after:after {
  left: 0;
  margin-left: 0;
}
h2.after:after {
  bottom: -20px;
}
.latest-list {
  overflow: hidden;
}
.latest-list .item-latest {
  width: 25%;
  float: left;
  position: relative;
}
.latest-list .item-latest .overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.4s;
}
.latest-list .item-latest h4 {
  line-height: 1;
  margin: 0 0 8px;
  font-weight: 600;
}
.latest-list .item-latest h4 a {
  color: #fff;
}
.latest-list .item-latest .cat-name {
  color: #ccc;
}
.latest-list .item-latest .cat-name a {
  font-size: 13px;
  color: #ccc;
}
.latest-list .item-latest:hover .overlay {
  opacity: 1;
}
.latest-list.list3 .item-latest {
  width: 33.33%;
}
.get-action {
  text-align: center;
  color: #fff;
}
.get-action h4 {
  color: #fff;
  margin-bottom: 15px;
}
.get-action p {
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
}
.get-action a {
  padding-left: 30px;
  padding-right: 30px;
}
.list-logo {
  overflow: hidden;
}
.list-logo .item-logo {
  float: left;
  width: 25%;
  text-align: center;
  margin-bottom: 35px;
}
.logos2 .item-logo {
  text-align: center;
}
.testi-carousel {
  font-size: 13px;
}
.testi-carousel .text .item {
  padding-right: 20px;
}
.testi-carousel .info {
  margin-top: 15px;
}
.testi-carousel .info strong {
  margin-right: 20px;
  text-transform: uppercase;
}
.testi-carousel .images .owl-item {
  width: 54px!important;
  margin-right: 8px;
  margin-top: 25px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: .3s;
}
.testi-carousel .images .owl-item.synced {
  border-color: #ffae4e;
}
.testi-carousel.text-center .images .owl-wrapper {
  max-width: 100%;
}
.testi-carousel.text-center .images .owl-item {
  float: none;
  display: inline-block;
}
.latest-post .item-post {
  padding: 0 15px;
}
.latest-post .item-post .desc {
  padding: 20px;
  background: #fff;
  border: 1px solid #f6f6f6;
  box-shadow: 1px 1px 3px #f6f6f6;
}
.latest-post .item-post .more-link {
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 5px;
  display: inline-block;
  font-weight: bold;
  color: #333;
}
.latest-post .item-post .more-link:hover {
  color: #ffae4e;
}
.latest-post .item-post .date-post {
  color: #999;
  font-size: 13px;
  text-align: right;
  margin: 5px 0 0;
  text-transform: uppercase;
}
.latest-post .owl-controls {
  top: -93px;
  right: 15px;
  left: auto;
}
.latest-post .owl-controls .owl-buttons div {
  width: 32px;
  height: 32px;
  border-radius: 0;
  background: #fff;
  border: 2px solid;
  color: #ccc;
  line-height: 30px;
  font-size: 13px;
  opacity: 1;
  margin: 0 2px;
  transition: 0.3s;
}
.latest-post .owl-controls .owl-buttons div:hover {
  color: #ffae4e;
}
.get-action.dark {
  color: #333;
  text-align: left;
  padding-top: 150px;
}
.get-action.dark h4 {
  color: #333;
}
.image-right {
  padding-top: 24px;
}
.image-right img {
  width: 85%;
}
/*Home Page 2*/
.list-features .col-md-4 {
  padding: 0;
}
.features-box {
  position: relative;
}
.features-box .overlay {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #d9d9d9;
  text-align: center;
}
.features-box .content-mid .inner {
  padding-top: 33px;
}
.features-box h4 {
  color: #fff;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.features-box p {
  margin-bottom: 0;
}
.features-box a {
  color: #ffae4e;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
  transition: 0.4s;
  opacity: 0;
  margin-top: 15px;
}
.features-box:hover .inner {
  padding-top: 0;
}
.features-box:hover a {
  opacity: 1;
}
.content-mid {
  display: table;
  height: 100%;
  width: 100%;
}
.content-mid .inner {
  display: table-cell;
  vertical-align: middle;
  padding: 0 30px;
  transition: 0.4s;
}
.content-bottom {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 30px;
  text-align: left;
}
.content-bottom .inner {
  transition: 0.3s;
  opacity: 0;
}
.content-bottom .inner h4 {
  text-transform: uppercase;
}
.content-bottom .inner a {
  color: #fff;
}
.item-latest:hover .inner {
  opacity: 1;
}
/*Home Page 3*/
.big-text h2 {
  margin: 0;
  color: #fff;
}
.big-text p {
  font-weight: normal;
  font-size: 50px;
  line-height: inherit;
  margin-bottom: 20px;
}
.big-text a {
  color: #fff;
  border-color: #fff;
}
.big-text a:hover {
  color: #333;
  background-color: #fff;
  border-color: #fff;
}
/*The Blog*/
.blog-page .col-md-9 {
  padding-right: 0;
}
.blog-page .col-md-3 {
  padding-left: 0;
}
.blog-list {
  border-right: 1px solid #ebebeb;
  margin-right: -1px;
  padding-bottom: 80px;
  padding-right: 30px;
}
.blog-list .item-post {
  padding-top: 50px;
}
.blog-list .item-post h4 {
  margin-top: 0;
  margin-bottom: 15px;
}
.blog-list .item-post .date-post {
  color: #999;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.blog-list .item-post a {
  color: #333;
}
.blog-list .item-post a.more-link {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}
.blog-list .item-post a:hover {
  color: #ffae4e;
}
.blog-list .pagination {
  margin-top: 60px;
  border-radius: 0;
}
.blog-list .pagination a,
.blog-list .pagination span {
  margin: 0 6px;
  width: 35px;
  height: 35px;
  line-height: 23px;
  border-radius: 0!important;
  border: none;
}
.blog-list .pagination a {
  background: #e6e6e6;
  color: #555;
}
.blog-list .pagination a i {
  font-size: 15px;
}
.blog-list .pagination span,
.blog-list .pagination a:hover,
.blog-list .pagination span:hover {
  background: #454647;
  color: #ffae4e;
}
.blog-single .post-title {
  margin: 40px 0 18px;
}
.blog-single .post-meta {
  margin-bottom: 28px;
  text-transform: uppercase;
}
.blog-single .post-meta span,
.blog-single .post-meta a {
  margin-right: 25px;
  font-size: 13px;
  color: #999;
}
.blog-single .post-meta a:hover {
  color: #ffae4e;
}
.blog-single .post-thumbail {
  margin-bottom: 25px;
}
.blog-single .post-content h4 {
  margin-bottom: 15px;
}
.blog-single .post-content p {
  margin-bottom: 18px;
}
.blog-single .post-content blockquote {
  color: #333;
  font-size: 14px;
  font-style: normal;
}
.blog-single .post-content blockquote p {
  margin-bottom: 10px;
}
.blog-single .post-content blockquote strong {
  text-transform: uppercase;
}
.blog-single .post-content ul {
  list-style: none;
  padding-left: 0;
  line-height: 30px;
}
.blog-single .post-content ul i {
  margin-right: 4px;
}
.blog-single .post-footer {
  margin-top: 35px;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
}
.blog-single .post-footer .tag-post {
  float: left;
}
.blog-single .post-footer .share-post {
  float: right;
}
.blog-single .post-footer a {
  color: #555;
}
.blog-single .post-footer a:hover {
  color: #ffae4e;
}
.sidebar {
  border-left: 1px solid #ebebeb;
}
.sidebar .widget {
  padding-top: 50px;
  padding-left: 30px;
}
.sidebar .widget.widget-image {
  padding-left: 0;
}
.sidebar .widget ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.sidebar .widget li {
  padding: 7px 0;
  overflow: hidden;
}
.sidebar .widget li a {
  display: block;
  float: left;
  font-size: 15px;
  color: #555;
}
.sidebar .widget li a:hover {
  color: #ffae4e;
}
.sidebar .widget li a:before {
  content: "\f105";
  font-family: FontAwesome;
  float: left;
  margin-right: 8px;
}
.sidebar .widget li span {
  float: right;
  color: #999;
}
.sidebar h4 {
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 25px;
}
/*Comment*/
.comments-area {
  margin-top: 60px;
}
.comments-area .comment-reply-title {
  text-transform: uppercase;
}
.comments-area .comment-notes {
  margin-bottom: 30px;
}
.comments-area .col-6 {
  width: 50%;
  float: left;
  padding: 0 10px;
}
.row-comment {
  margin: 0 -10px;
}
.comment-form p {
  margin-bottom: 20px;
}
.comment-form input[type=text],
.comment-form input[type=email],
.comment-form input[type=tel],
.comment-form textarea {
  height: 50px;
  line-height: 50px;
  background: #f2f2f2;
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 0 15px;
  vertical-align: top;
}
.comment-form textarea {
  height: 150px;
}
.comment-form input[type=submit] {
  padding: 13px 35px;
}
.list-comments {
  margin-top: 60px;
}
.list-comments h4 {
  text-transform: uppercase;
  margin-bottom: 40px;
}
.list-comments ul {
  list-style: none;
  padding-left: 0;
}
.list-comments li {
  overflow: hidden;
  padding-bottom: 40px;
}
.list-comments .children {
  padding-left: 70px;
}
.list-comments .user-image {
  float: left;
  height: 100%;
}
.list-comments .comment-right {
  margin-left: 70px;
}
.list-comments .comment-right .comment-info {
  color: #999;
  text-transform: uppercase;
  font-size: 13px;
}
.list-comments .comment-right .comment-info a {
  font-weight: bold;
  margin-left: 10px;
  color: #999;
}
.list-comments .comment-right .comment-info a:hover {
  color: #ffae4e;
}
/*Contact Page*/
.form-info {
  padding: 70px 0;
}
.form-info h4 {
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.form-info .contact-info li {
  padding: 7px 0;
}
.form-info .contact-info i {
  margin-right: 3px;
}
.form-info .col-4 {
  width: 33.33%;
  float: left;
  padding: 0 10px;
}
.error {
  display: none;
}
p .error {
  color: red;
  font-size: 12px;
}
div.error {
  padding: 10px;
  border: 2px solid yellow;
}
#ajaxsuccess {
  display: none;
  padding: 10px;
  border: 2px solid green;
  font-size: 18px;
}
#google_map {
  height: 400px;
}
/*About Page*/
.top-about {
  padding-top: 50px;
}
.top-about h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.top-about .values {
  margin-top: 32px;
}
.top-about .image-about {
  margin: 20px -10px 0;
}
.top-about .image-about img {
  width: 50%;
  float: left;
  padding: 0 10px;
}
.vimeo {
  margin: 0;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}
.vimeo a {
  position: relative;
}
.vimeo .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
}
.vimeo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.acc_head {
  transition: 0.3s;
  background: #e6e6e6;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}
.acc_head i {
  margin-right: 8px;
}
.style2 .acc_head {
  border-radius: 20px;
}
.acc_content {
  padding: 15px 0 20px;
}
.acc_active .acc_head,
.acc_head:hover {
  background: #ffae4e;
  color: #333;
}
.features-about {
  box-shadow: inset 0px 10px 14px -8px rgba(0, 0, 0, 0.14);
  background: url(images/bg-square.png) repeat;
  background-position: -15px -15px;
}
.parallax {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}
.parallax-hourse {
  background-image: url(images/bg-hourse.png);
  padding: 90px 0 70px;
  position: relative;
  z-index: 10;
}
.team-about {
  padding: 75px 0;
}
.team-member {
  text-align: center;
}
.team-member h5 {
  text-transform: uppercase;
  margin-top: 30px;
}
.team-member p {
  font-style: italic;
  font-size: 13px;
  color: #999;
}
.team-member .member-image {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
}
.team-member .overlay {
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 174, 78, 0.8);
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.team-member .overlay .social-team {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  margin-top: -13px;
}
.team-member .overlay a {
  color: #fff;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  text-align: center;
  display: inline-block;
  margin: 0 1px;
}
.team-member .overlay i {
  vertical-align: middle;
}
.team-member:hover .overlay {
  opacity: 1;
}
.action-about {
  padding: 75px 0;
  background: #f4f4f4;
}
.call-action {
  padding: 0 100px;
}
.call-action h4 {
  margin-top: 0;
  margin-right: 30px;
  display: inline-block;
}
.call-action a {
  display: inline-block;
  padding: 16px 35px;
}
/*Typography Page*/
.typography {
  padding: 20px 0 55px;
}
.typography .top-st {
  padding-bottom: 40px;
}
.typography .top-st p {
  font-style: italic;
  padding-bottom: 10px;
}
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  text-transform: uppercase;
}
.typography .thirds h4 {
  margin-bottom: 20px;
}
/*Services Page*/
.list-services {
  padding: 55px 0 25px;
}
.service-box {
  margin-bottom: 40px;
}
.service-box h4 {
  margin: 22px 0 15px;
}
.service-box p {
  margin-bottom: 18px;
}
.service-box a {
  color: #333;
}
.service-box a.more-link {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}
.service-box a:hover {
  color: #ffae4e;
}
.single-services .col-md-3 {
  padding-right: 0;
}
.single-services .col-md-9 {
  padding-left: 0;
}
.title-service {
  padding: 55px 0 0;
  border-right: 1px solid #ebebeb;
}
.title-service li {
  margin-bottom: 15px;
}
.title-service li.active a {
  color: #333;
}
.title-service a {
  color: #999;
  font-weight: bold;
  font-size: 18px;
}
.title-service a:hover {
  color: #ffae4e;
}
.service-details {
  padding: 55px 0 55px 30px;
  border-left: 1px solid #ebebeb;
  margin-left: -1px;
}
.service-details h4 {
  margin: 24px 0 15px;
}
/*Projects Page*/
.list-projects {
  padding: 50px 0 40px;
}
.list-projects.list2 {
  padding-bottom: 0;
}
.all-project .isotope-item {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.all-project .isotope-item h4 {
  margin: 11px 0 3px;
}
.all-project .cat-name {
  color: #9f9f9f;
  margin-bottom: 30px;
}
.all-project .cat-name a {
  color: #9f9f9f;
  font-size: 13px;
}
.all-project .cat-name a:hover {
  color: #333;
}
.image-project {
  position: relative;
  overflow: hidden;
  display: block;
}
.image-project .overlay {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.6s;
  opacity: 0;
}
.image-project img {
  transform: scale(1);
  transition: 0.6s;
}
.image-project:hover img {
  transform: scale(1.1);
}
.image-project:hover .overlay {
  opacity: 1;
}
.all-project-v2 h4,
.all-project-v2 .cat-name {
  padding: 0 20px;
}
.all-project-v2 .item {
  width: 33.32%;
}
.all-project-v2 .item:hover {
  background: #eee;
}
.all-project-v3 h4 {
  font-weight: 600;
}
.all-project-v3 .item {
  width: 24.98%;
}
.all-project-v3 .cat-name,
.all-project-v3 .cat-name a {
  color: #ccc;
  margin-bottom: 0;
}
.all-project-v3 .cat-name a:hover {
  color: #fff;
}
.filter-projects {
  text-align: center;
  margin-bottom: 30px;
}
.filter-projects li {
  display: inline-block;
  padding: 12px;
}
.filter-projects li a {
  font-weight: bold;
  color: #888;
  position: relative;
}
.filter-projects li a.current,
.filter-projects li a:hover {
  color: #ffae4e;
}
.filter-projects li a.current:before,
.filter-projects li a.current:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 20px;
  height: 1px;
  background: #ccc;
}
.filter-projects li a.current:after {
  bottom: -13px;
}
/*Single Project*/
.project-title {
  overflow: hidden;
}
.project-title h1 {
  float: left;
}
.project-title .project-nav {
  float: right;
  padding: 41px 0;
}
.project-title .project-nav a {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 28px;
  font-size: 13px;
  color: #ccc;
  border: 2px solid;
  padding-left: 8px;
}
.project-title .project-nav a:hover {
  color: #ffae4e;
}
.project-title .project-nav .next-project {
  padding-left: 10px;
  margin-left: 1px;
}
.single-project {
  padding: 55px 0 70px;
}
.project-info h4 {
  margin-bottom: 20px;
}
.project-info p {
  line-height: 24px;
}
.project-des h4 {
  margin-bottom: 20px;
}
.project-des p {
  margin-bottom: 15px;
}
.project-slider {
  margin-bottom: 35px;
}
.project-slider .owl-controls {
  transition: 0.5s;
  opacity: 0;
  top: 50%;
  left: 0;
  margin-top: -18px;
  width: 100%;
}
.project-slider .owl-controls .owl-buttons {
  width: 100%;
  padding: 0 20px;
}
.project-slider .owl-controls .owl-buttons div {
  background: rgba(0, 0, 0, 0.5);
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  color: #fff;
  opacity: 1;
  border-radius: 0;
}
.project-slider .owl-controls .owl-buttons div:hover {
  background: #ffae4e;
}
.project-slider .owl-controls .owl-buttons .owl-prev {
  float: left;
}
.project-slider .owl-controls .owl-buttons .owl-next {
  float: right;
  padding-left: 5px;
}
.project-slider:hover .owl-controls {
  opacity: 1;
}
.detailsv2 h4 {
  margin-top: 0;
}
.detailsv2 .project-des {
  margin-top: 30px;
}
.s-images {
  margin: 30px -10px 0;
}
.s-images .item-image {
  display: block;
  width: 33.33%;
  padding: 10px;
  float: left;
}
.s-images .item-image img {
  transform: scale(1);
  transition: 0.5s;
  border-radius: 4px;
}
.s-images .item-image:hover img {
  opacity: 0.7;
}
/*Elements Page*/
.elements-page {
  padding: 40px 0 70px;
}
.elements-page section {
  padding-bottom: 30px;
}
.elements-page h4 {
  margin-bottom: 25px;
}
.elements-page .btn-small {
  padding: 13px 23px;
  max-width: 150px;
  text-align: center;
  display: block;
}
.elements-page .left {
  margin-right: 8px;
}
.btn-elements .ot-btn {
  margin-bottom: 20px;
  width: 170px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.ot-btn {
  transition: 0.3s;
  border: none;
  padding: 18px 32px;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
}
.ot-btn i {
  margin-right: 5px;
}
.ot-btn:focus {
  color: #333;
}
.btn-color {
  background: #ffae4e;
  color: #333;
}
.btn-color:hover {
  background: #333;
  color: #fff;
}
.btn-radius {
  border-radius: 25px;
}
.btn-sradius {
  border-radius: 3px;
}
.btn-border {
  border: 2px solid #ccc;
  padding: 16px 30px;
  color: #999;
}
.btn-border:hover,
.btn-border:focus {
  border-color: #ffae4e;
  color: #ffae4e;
}
.btn-small {
  padding: 13px 23px;
}
.blue {
  background: #29b6f6;
  color: #fff;
}
.red {
  background: #f44336;
  color: #fff;
}
.green {
  background: #4caf50;
  color: #fff;
}
.black {
  background: #555555;
  color: #fff;
}
.yellow {
  background: #ffeb3b;
  color: #333;
}
.gray {
  background: #e6e6e6;
  color: #555;
}
.skills-name {
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 10px;
}
.skills-name span {
  color: #333;
  font-weight: bold;
  margin-left: 5px;
}
.pro-bar-container {
  position: relative;
  height: 10px;
  background: #d9d9d9;
}
.pro-bar {
  position: relative;
  height: 10px;
  background: #ffae4e;
}
.skills-box {
  margin-bottom: 24px;
}
.skills-box.box2 .pro-bar-container,
.skills-box.box2 .pro-bar {
  border-radius: 10px;
}
.skills-box.box3 .pro-bar {
  background-color: #ffae4e;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 20px 20px;
}
.skills-box.box3 .green {
  background-color: #4caf50;
}
.skills-box.box3 .blue {
  background-color: #29b6f6;
}
.r-tabs-accordion-title,
.r-tabs-panel {
  display: none;
}
.r-tabs-panel.r-tabs-state-active {
  display: block;
}
.continal-tabs li {
  display: inline-block;
}
.type1 ul {
  margin-bottom: 15px;
}
.type1 li {
  border-radius: 20px;
  font-weight: bold;
}
.type1 li a {
  display: block;
  padding: 10px 25px;
}
.type1 li.r-tabs-state-active {
  background: #ffae4e;
}
.type1 li.r-tabs-state-active a {
  color: #fff;
}
.type2 {
  margin-top: 87px;
}
.type2 ul {
  border-bottom: 3px solid #ffae4e;
}
.type2 li {
  border-radius: 2px 2px 0 0;
}
.type3 ul {
  margin-bottom: 0;
}
.type3 li {
  margin-right: 22px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
.type3 li.r-tabs-state-active:after {
  background: #2c93d5;
  height: 3px;
  width: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
}
.type4 {
  margin-top: 35px;
}
.type4 ul {
  margin-bottom: 0;
  border: 1px solid #ededed;
  float: left;
  width: 100%;
  margin-bottom: -1px;
}
.type4 li {
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  margin-left: -1px;
  border-top: 3px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.type4 li.r-tabs-state-active {
  border-top: 3px solid #ffae4e;
  border-left: 1px solid #ededed;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #ededed;
  margin-bottom: -1px;
}
.type4 a {
  padding: 12px 15px 15px;
  display: block;
}
.content-tabs3 {
  clear: both;
  padding: 18px 23px;
  border: 1px solid #ededed;
}
.content-tabs3 p:last-child {
  margin-bottom: 0;
}
.content-tabs4 {
  border-top: 0;
}
.icon-box h4 {
  margin-bottom: 35px;
}
.features.box2 {
  text-align: center;
}
.features.box2 h4 {
  margin-bottom: 15px;
}
.features.box3 {
  margin-bottom: 35px;
}
.features.box4.right {
  text-align: right;
}
.features.box4.right i {
  float: right;
  margin-left: 13px;
}
.features.box4 i {
  margin-right: 13px;
  float: left;
}
.features .top-img {
  min-height: 57px;
  line-height: 57px;
}
.features h4 {
  margin: 20px 0 12px;
  line-height: 1;
}
.features .top-icon {
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #ffae4e;
  line-height: 50px;
  color: #333;
  font-size: 26px;
}
.features .right-box {
  margin-left: 65px;
}
.features.style2 {
  margin-bottom: 25px;
  overflow: hidden;
}
.features.style2 .top-img {
  width: 70px;
  float: left;
}
.features.style2 h4,
.features.style2 p {
  padding-left: 90px;
  margin-top: 0;
}
.why-choose .features {
  margin-bottom: 40px;
}
.why-choose .features h4 {
  margin-top: 2px;
}
.pricing-table {
  text-align: center;
  border: 1px solid #e6e6e6;
  font-size: 13px;
  max-width: 350px;
  margin: auto;
  transition: 0.4s;
}
.pricing-table ul {
  list-style: none;
  padding: 25px 10px;
  line-height: 30px;
}
.pricing-table .action-plan {
  margin-bottom: 35px;
}
.pricing-table .action-plan a {
  padding: 14px 30px;
}
.pricing-table:hover {
  box-shadow: 0 0 8px #ccc;
}
.pricing-table.featured {
  border-top: 3px solid #ffae4e;
}
.top-plan {
  background: #e6e6e6;
  padding: 30px 0 25px;
  color: #333;
}
.top-plan .price {
  font-size: 72px;
  line-height: 1;
}
.top-plan .price span {
  font-size: 36px;
  vertical-align: top;
  display: inline-block;
  margin-top: 5px;
}
.top-plan .name-plan {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: 2px;
}
/*404 Page*/
.page-404 {
  border-top: 1px solid #eee;
  padding: 40px 0 0;
}
.content-404 {
  padding-top: 130px;
  padding-left: 30px;
}
.content-404 h2 {
  font-size: 72px;
}
.content-404 p {
  font-size: 22px;
  margin-bottom: 30px;
}
/*Coming Soon Page*/
.coming-soon {
  background: url(images/coming-soon.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.coming-soon-content {
  color: #fff;
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  margin-top: 30px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.coming-soon-content .intro-text {
  margin-bottom: 40px;
}
.coming-soon-content .newsletter-comingsoon {
  margin-bottom: 50px;
}
.coming-soon-content h2 {
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
}
.coming-soon-content p {
  font-size: 22px;
}
.coming-soon-content .newsletter-email {
  width: 290px;
  padding: 14px 15px;
  border: none;
  border-radius: 3px;
  color: #000;
}
.coming-soon-content .countdown {
  list-style: none;
  overflow: hidden;
  padding-left: 0;
  text-align: center;
}
.coming-soon-content .countdown li {
  float: left;
  font-size: 60px;
  width: 25%;
}
.coming-soon-content .countdown li p {
  font-size: 15px;
  text-transform: uppercase;
}
.coming-soon-content .social-icons {
  margin-top: 40px;
}
.coming-soon-content .social-icons a {
  display: inline-block;
  font-size: 20px;
  margin: 0 15px;
  color: #fff;
}
.coming-soon-content .social-icons a:hover {
  color: #ffae4e;
}
/*# sourceMappingURL=layout.css.map */