body {
  background: url("../img/bg.jpg") no-repeat scroll 0 0;
  background-size:cover;
}
@font-face {
    font-family: '681';
    src: url('fonts/681.eot');
    src: url('fonts/681.eot') format('embedded-opentype'),
         url('fonts/681.woff2') format('woff2'),
         url('fonts/681.woff') format('woff'),
         url('fonts/681.ttf') format('truetype'),
         url('fonts/681.svg#681') format('svg');
}
a:focus {outline:0px solid}
.item-title {
  margin-bottom: 30px;
  text-align: center;
}
h1.prv-title {
  border: 1px solid rgb(7, 16, 65);
  display: inline-block;
  font-size: 28px;
  margin-top: 0;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
}
h1.prv-title span{font-weight:700;color:rgb(138, 191, 0)}
.text-center.logo > h2 {
  font-family: "681";
  font-size: 38px;
  font-weight: bold;
  margin-top: 52px;
  padding-top: 15px;
  position: relative;
}
.text-center.logo span {
  color: #25bfa1;
  font-size: 60px;
}
.text-center a:hover .text-heading {
  color:rgb(7, 16, 65);
}
.text-heading{
  text-decoration:none;
  transition: all .3s ease 0s;
}
.text-heading:hover {
  color:rgb(7, 16, 65);
}
.logo{

}
.text-center.logo img {

}
.responsive{
	max-width: 100%;
}
.image-shop-box.demo-full {
  text-decoration: none;
}
.btn-buy{
	background-color:rgb(138, 191, 0);
	color:#fff;
	padding: 10px 60px;
	text-transform: uppercase;
	font-weight: bold;
	transition: all .3s ease 0s;
} 
.text-center > h2 {
	color:#25bfa1;
	font-size:48px;
	text-align:center;
	text-transform:uppercase
}
.text-center > h2::after {
  background: #333333;
  content: "";
  height: 3px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  top: 65px;
  width: 60px;
}
.image-heading{
	margin: 50px 0 80px;
}

.btn-buy:hover{
	background: rgb(7, 16, 65);
	color:#fff;
}

.buy-now{
	margin-top: 100px;
	position: relative;
}

.buy-now img{
	position: absolute;
	left: 35%;
	top: -180%;
}
.image-shop-box{
	margin-bottom: 50px;
	display: block;
	text-align: center;
}
.heading-title{
	text-transform: uppercase;
	color:#333;
	margin: 50px 0;
}
.text-heading {
  color:rgb(138, 191, 0);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}


.copyright{
	margin: 30px 0;
}

.image-bg{
	background: url('../img/demo-bg.png') no-repeat center top; 
	width: 350px;
	height:215px;
	display:inline-block;
	position: relative;
}
.image-bg .image-shop-scroll{
	background-position: center 0;
	background-repeat: no-repeat;
	position: absolute;
	width: 280px;
	height: 165px;
	top: 23px;
	left: 0;
	background-size: cover;
	right: 0;
	margin: 0 auto;
}

.image-bg .image-shop-scroll{
	transition: all 6s ease-out 0s;
	-webkit-transition: all 6s ease-out 0s;
	-moz-transition: all 6s ease-out 0s;
	-ms-transition: all 6s ease-out 0s;
	-o-transition: all 6s ease-out 0s;
}

.image-bg:hover .image-shop-scroll{
	background-position: center 100%!important;
}
.copyright > a{
	color:#25BFA1;
}


