/** Media Queries **/
@media screen and (max-width: 1440px) {
.slider-content h1  {
	font-size: 60px;
}
.about_text h3 {
	font-size: 28px;
}
.service_icon {
	font-size: 34px;
}
}
/* Tablets Landscape */
@media (min-width: 992px) and (max-width: 1024px) {
h3 {
	font-size: 20px;
}
.top_right {
	justify-content: flex-end;
}
.popup_cnt {
	width: 70%;
}
.slider-content h1 {
	font-size: 50px;
}
.about_text h3 {
	font-size: 22px;
}
.about_text p {
	font-size: 16px;
	line-height: 26px;
}
.service_cnt h3 {
	font-size: 20px;
}
.service_cnt p {
	font-size: 16px;
	line-height: 26px;
}
.members {
	height: 338px;
}
.quo_top, .quo_bot {
	font-size: 50px;
}
.mc_text h4 {
    font-size: 18px;
}
.mc_text p {
	font-size: 14px;
}
.filter {
	margin: 20px 1% 0px 1%;
}
.post_info ul li {
	width: 32%;
}
}

/* Tablets Portrait */
@media (min-width: 768px) and (max-width: 991px) {
.top_right {
	width: 80%;
	justify-content: flex-end;
}
.topContact {
	width: 78%;
	padding: 12px 0px;
}
header .row, #about .row {
	margin: 0 -15px;
}
.row {
	margin: 0;
}
.slider-content h1  {
	font-size: 54px;
}
.about_info {
	margin: 0px -15px;
}
.services_info .service_list:last-child {
	margin-bottom: 0;
}
.service_list {
	width: 90%;
	margin: 0 auto 50px auto;
	border-radius: 0;
}
.members {
	width: 90%;
	margin: 0 auto;
	height: 338px;
}
.gallery {
	width: 90%;
	margin: 0 auto;
}
.filter {
	width: 48%;
	margin-top: 30px;
}
.quote {
	padding: 120px 20px;
}
.quote_text {
	width: 90%;
	margin: 0 auto;
}
.quote_text p {
	font-size: 28px;
}
.quote_part span {
	margin: 20px 0px 0px;
}
.quo_top, .quo_bot {
	font-size: 40px;
}
.review_list {
    width: 90%;
    margin: 0 auto;
}
.review_text h5 {
	margin-top: 30px;
}
.client_img {
	width: auto;
	height: auto;
}
.quote_icon {
	font-size: 30px;
}
.package_part {
	margin: 90px 0px 0px 0px;
}
.pack {
	width: 80%;
	margin: 100px auto;
}
.pack_top, .pack_bot {
	width: 50%;
}
.blog_post {
	width: 80%;
	margin: 0px auto 30px auto;
}
.blog_posts .pagination {
	float: none;
    margin: 0 auto 60px auto;
    display: table;
    width: auto;
}
.blog_posts {
	margin-bottom: 0px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.contact_part.row  {
	margin: 0px -15px;
}
.contact_part {
	width: 92%;
    margin: 0 auto;
}
.con_info {
	width: 92%;
    margin: 0 auto 30px auto;
}
.map {
	width: 96%;
	margin: 0 auto;
}
.contact_form {
	width: 96%;
	padding: 50px;
	margin: 60px auto 0px auto;
}
.popup_cnt {
	width: 80%;
}
.widget {
	margin-bottom: 30px;
}
.widget.archives {
	margin-bottom: 0;
}
.leave_comment {
	margin-bottom: 60px;
}

}


/* Medium Mobiles size */
@media screen and (max-width: 767px) {
.top_right {
	width: 80px;
	height: 80px;
}
.topContact {
	display: none;
}
.mainMenu a.toggle {
	width: 80px;
	height: 80px;
}
.mainMenu a.toggle span {
	width: 66%;
	display: block;
}
.toggle_txt {
	display: none !important;
}
.backdrop {
	height: 80px;
}
.slider-content {
	width: 90%;
}
.slider-content h1 {
	font-size: 30px;
}
.slider-content h3 {
	font-size: 26px;
	margin: 0;
}
.readmore {
	margin-top: 10px;
}
.swiper-button-prev, .swiper-button-next {
	display: none;
}
header .row, #about .row {
	margin: 0 -15px;
}
.row {
	margin: 0;
}
.pad-120 {
	padding: 60px 0px;
}
.title h3 {
	font-size: 24px;
}
.title span {
	font-size: 16px;
}
.about_section, .about_info {
	background: #f6f6f6;
	margin: 0px;
	height: auto;
	padding: 0px;
}
.about_text {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	transform: none;
	padding: 60px 5%;
}
.about_text h3 {
	font-size: 24px;
}
.about_text p {
	font-size: 16px;
	line-height: 24px;
}
.services_section, .contact_section {
	padding: 60px 0px;
}
.service_list {
	width: 84%;
	margin: 0 auto 50px auto;
	border-radius: 0;
}
.service_cnt p {
	font-size: 16px;
	line-height: 24px;
}
.shapey::before, .shapey::after {
	height: 60px;
}
.team_info {
	margin: 60px 15px 0px;
}
.members {
	width: 90%;
	height: 320px;
	margin: 0 auto;
}
.works_filter .custom-container {
	padding: 0 1%;
}
.filter {
    width: 84%;
    margin: 30px auto 0;
}
.filter_menu ul {
	text-align: center;
}
.filter_menu ul li {
	margin: 5px 3px;
	float: none;
	display: inline-block;
}
.filter_menu ul li a {
	padding: 5px 10px;
}
.mask_content {
	height: 22%;
}
.mc_text h4 {
	line-height: 20px;
}
.mc_text p {
	margin: 0;
	line-height: 18px;
}
.quote {
	padding: 50px 20px;
}
.quote_text {
	width: 90%;
	margin: 0 auto;
}
.quote_part h4 {
	font-size: 22px;
}
.quote_part span {
	margin: 20px 0px 0px;
}
.quo_top, .quo_bot {
	font-size: 40px;
}
.client_img {
	margin: 0 auto;
}
.quote_icon {
	font-size: 30px;
	float: none;
}
.review_text {
	float: none;
	margin: 0 auto;
	text-align: center;
}
.package_part {
	margin: 90px 0px 0px 0px;
}
.pack {
	width: 90%;
	margin: 0px auto 90px auto;
}
.pack_top, .pack_bot {
	width: 80%;
}
.blog_post {
	width: 90%;
	margin: 0px auto 30px auto;
}
.blog_section .col-md-4:last-child .blog_post{
	margin: 0 auto;
}
.post_info ul li {
	width: 32%;
	font-size: 12px;
}
.post_details {
	padding: 15px;
}
.post_details h3 {
	font-size: 20px;
}
.post_details p {
	font-size: 16px;
	line-height: 24px;
}
.contact_part.row  {
	margin: 0px -15px;
}
.contact_details {
	margin: 60px 0px;
}
.con_info {
	width: 90%;
	margin: 10px auto;
}
.map {
	width: 84%;
	margin: 0 auto;
}
.contact_form {
	width: 84%;
	padding: 30px 20px;
	margin: 60px auto 0px auto;
}
.popup_cnt {
	width: 80%;
	overflow-y: auto;
}
.popup_menu {
	height: 320px;
}
.popup_menu ul li {
	width: 100%;
	margin: 10px 0px;
}
.popup_logo {
	display: none;
}
.popup_caption {
	display: none;
}
.close_btn {
	line-height: 80px;
	font-size: 80px;
}
.search .input-group {
	width: 100%;
}
.blog_comments ul li .com_text {
	width: 64%;
	margin-left: 15px;
}
.contact_section {
	margin: 0;
}
.footer_section {
	position: relative;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.mb-10 {
	margin-bottom: 10px !important;
}
}
