/*    General Color
-----------------------*/
/*   Template Color
--------------------*/
/*    Social Media Brand Color
--------------------------------*/
/* 		Form 	
-----------------------*/
/*  	fonts
----------------------*/
/* botton color
---------------------*/
/*		Testimonial Color
-----------------------------*/
/*		Blog Color
-----------------------------*/
/*		Box Shadow
------------------------*/
/*		Border
------------------------*/
/*Home Page
----------------*/
/*  transitions
------------------*/
.t3s {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
/*  Font Size
---------------*/
.fs12 {
  font-size: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs16 {
  font-size: 16px;
}
.fs20 {
  font-size: 20px;
}
.fs30 {
  font-size: 30px;
}
/*    Font-weight
-----------------------*/
.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.fw800 {
  font-weight: 800;
}
.fw900 {
  font-weight: 900;
}
/*    Display
----------------*/
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.di {
  display: inline;
}
.dif {
  display: inline-flex;
}
/*    Position
------------------*/
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
/*  	margin padding
--------------------------*/
.mt80 {
  margin-top: 80px;
}
.mt100 {
  margin-top: 100px;
}
.mtb00 {
  margin-bottom: 100px;
}
.pdb35 {
  padding-bottom: 35px;
}
.pdb40 {
  padding-bottom: 40px;
}
.mt25 {
  margin-top: 25px ;
}
.mt20 {
  margin-top: 20px;
}
.pdr0 {
  padding-right: 0 !important;
}
.pdl0 {
  padding-left: 0 !important;
}
.mtb50 {
  margin: 50px 0;
}
.box-sdo {
  box-shadow: 0 2px 3px #bdbdbd;
}
.mt0 {
  margin-top: 0 !important;
}
.clear {
  clear: both;
}
/*	404 Page
-------------------*/
.comming-soon-page-counter {
  background: url(../images/page-heading/404.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 173px;
  position: relative;
}
.comming-soon-page-counter:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
}
.comming-soon-page-counter .title {
  text-align: center;
}
.comming-soon-page-counter .title h1 {
  font-size: 80px;
  color: #ffffff;
  font-weight: 600;
  padding-bottom: 6px;
}
.comming-soon-page-counter .title .divider-seven {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
.comming-soon-page-counter .title .divider-seven:before {
  margin: auto;
}
.comming-soon-page-counter .countdown-container {
  position: relative;
  top: 80%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.comming-soon-page-counter .clock-item .inner {
  height: 0px;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}
.comming-soon-page-counter .clock-canvas {
  border: 1px solid #ffffff;
  border-radius: 500px;
  height: 0px;
  padding-bottom: 100%;
}
.comming-soon-page-counter .text {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
  width: 100%;
}
.comming-soon-page-counter .text .val {
  font-size: 50px;
}
.comming-soon-page-counter .text .type-time {
  font-size: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .comming-soon-page-counter .clock-item {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .comming-soon-page-counter .clock-item {
    margin: 0px 30px 30px 30px;
  }
}
.error-page-bg {
  background: #f5f5f5;
}
.error-page .back-to-home {
  position: absolute;
  bottom: -140px;
  margin: auto;
  height: 200px;
  color: #bdbdbd;
  font-size: 22px;
  text-transform: uppercase;
  right: 100px;
  z-index: 999;
  text-align: right;
}
.error-page .back-to-home a i {
  color: #ffffff;
  font-size: 65px;
  padding: 20px 23px;
  border-radius: 500px;
  background: #9c27b0;
  box-shadow: 0 2px 3px #bdbdbd;
}
.error-page .back-to-home span {
  display: block;
  margin-right: 20px;
  margin-top: 21px;
  overflow: hidden;
}
.error-page .top-area {
  background: #00bfa5;
  position: relative;
}
.error-page .top-area .top {
  font-size: 120px;
  color: #ffffff;
  font-family: 'RobotoThin';
  margin-top: 80px;
  background: #1e88e5;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.error-page .bottom-area .down {
  font-size: 48px;
  color: #212121;
  background: #ffffff;
  padding-left: 100px;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-bottom: 70px;
}
.comming-soon-page-body {
  padding-top: 68px;
}
.comming-soon-page-body .tab-two ul.tabs {
  height: 63px;
  max-width: 525px;
  margin: auto;
}
.comming-soon-page-body .tab-two ul.tabs li {
  height: 63px;
}
.comming-soon-page-body .tab-two ul.tabs li a {
  font-size: 25px;
  font-weight: 600;
  color: #212121;
}
.comming-soon-page-body .tab-two ul.tabs li a.active {
  color: #00bfa5 !important;
}
.comming-soon-page-body .tab-two .tab-content p {
  margin-left: 0;
  font-size: 18px;
  color: #212121;
  line-height: 28px;
  padding-top: 51px;
  text-align: center;
}
.comming-soon-page-body .subscribe-two {
  padding-bottom: 42px;
}
.comming-soon-page-body .subscribe-two .single-button {
  margin-top: 23px;
}
.comming-soon-page-body .subscribe-two .single-button input {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.comming-soon-page-body .subscribe-two .single-button ::-moz-placeholder {
  color: #212121;
  opacity: 1;
  text-transform: capitalize;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.comming-soon-page-body .subscribe-two .single-button ::-webkit-placeholder {
  color: #212121;
  opacity: 1;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
