/*    General Color
-----------------------*/
/*   Template Color
--------------------*/
/*    Social Media Brand Color
--------------------------------*/
/* 		Form 	
-----------------------*/
/*  	fonts
----------------------*/
/* botton color
---------------------*/
/*		Testimonial Color
-----------------------------*/
/*  transitions
------------------*/
.t3s {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
/*  Font Size
---------------*/
.fs12 {
  font-size: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs16 {
  font-size: 16px;
}
.fs20 {
  font-size: 20px;
}
.fs30 {
  font-size: 30px;
}
/*    Font-weight
-----------------------*/
.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.fw800 {
  font-weight: 800;
}
.fw900 {
  font-weight: 900;
}
/*    Display
----------------*/
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.di {
  display: inline;
}
/*    Position
------------------*/
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
/*  	margin padding
--------------------------*/
.mt80 {
  margin-top: 80px;
}
.mt100 {
  margin-top: 100px;
}
.mtb00 {
  margin-bottom: 100px;
}
.pdb35 {
  padding-bottom: 35px;
}
.pdb40 {
  padding-bottom: 40px;
}
.mt25 {
  margin-top: 25px;
}
/*		Blog Equal
-----------------------*/
#blog-mationary-main-banner {
  background: url(../images/blog/bg/2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.blog-mationary-content {
  margin-top: 50px;
}
.blog-mationary-content .equal-single-blog-post {
  margin: 30px 0 !important;
}
.blog-mationary-content .blog-mationary-slider {
  position: relative;
}
.blog-mationary-content .blog-mationary-slider .owl-buttons {
  margin-top: 0px;
}
.blog-mationary-content .blog-mationary-slider .owl-buttons .owl-buttons {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  position: absolute;
}
.blog-mationary-content .blog-mationary-slider .owl-buttons .owl-prev {
  background: transparent !important;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  opacity: 1 !important;
  left: 10px;
  position: absolute;
}
.blog-mationary-content .blog-mationary-slider .owl-buttons .owl-prev i {
  font-size: 25px !important;
  color: #ffffff;
  font-weight: 200;
}
.blog-mationary-content .blog-mationary-slider .owl-buttons .owl-next {
  background: transparent !important;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  opacity: 1 !important;
  position: absolute;
  right: 10px;
}
.blog-mationary-content .blog-mationary-slider .owl-buttons .owl-next i {
  font-size: 25px !important;
  color: #ffffff;
  font-weight: 200;
}
#blog-mationary-one-main-banner {
  background: url(../images/blog/bg/3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.blog-mationary-three-cloumn .equal-single-blog-post {
  margin: 24px 0 !important;
  box-shadow: none !important;
}
.blog-mationary-three-cloumn .equal-single-blog-post .content {
  padding-bottom: 0 !important;
}
.blog-mationary-three-cloumn .view-more {
  margin-top: 46px;
  margin-bottom: 80px;
  text-align: center;
}
.blog-mationary-three-cloumn .view-more a {
  font-size: 15px;
  color: #00bfa5;
}
.blog-mationary-three-cloumn .view-more a:hover {
  color: #00bfa5;
}
.blog-mationary-three-cloumn .view-more a i {
  padding: 14px 16px;
  font-size: 20px;
  color: #212121;
  background: #00bfa5;
  border-radius: 500px;
  margin-top: 5px;
}
