/* Standard Responsive CSS

*/
/* Prefix */
/*  To make Responsive
---------------------------------------------------------------------- /
*	1 - @media (max-width: 1280px)
*   2 - @media (max-width: 1200px)
*   3 - @media (min-width: 992px) and (max-width: 1199px)
*   4 - @media (min-width: 768px) and (max-width: 991px)
*   5 - @media (max-width: 767px)
*   6 - @media (max-width: 667px)
*   7 - @media (max-width: 480px)
*   8 - @media (max-width: 360px)
*   9 - @media (max-width: 320px)
*/
@media (max-width: 1199px) {
  .sidebar-content {
    padding: 15px 0px 0px;
  }
  .sidebar-content .post-content {
    position: relative;
    left: 0px;
  }
}
@media (max-width: 992px) {
  .sidebar-content .post-content {
    position: relative;
    left: 0px;
  }
}
@media (max-width: 991px) {
  .sidebar-content {
    text-align: center;
  }
  .blog-meta-info h3 {
    padding: 15px 0px;
  }
  .button-area {
    padding: 15px 0px;
  }
}
@media (max-width: 768px) {
  .sidebar-content {
    text-align: center;
  }
  .view-meta-tag-list {
    padding: 20px 0px;
  }
  .blog-meta-info {
    padding: 15px 0px;
  }
  .button-area {
    padding: 15px 0px;
  }
}
@media (max-width: 767px) {
  .blog-grid-blog {
    text-align: center;
  }
  .blog-grid-blog img {
    margin: 0 auto;
    text-align: center;
  }
  .sidebar-content .post-content {
    position: relative;
    left: 0;
  }
  .blog-list-medium-blog {
    text-align: center;
  }
  .blog-list-medium-blog img {
    text-align: center;
    margin: 0 auto;
  }
  .button-area {
    padding: 15px 0px;
  }
}
@media (max-width: 667px) {
  .blog-grid-blog {
    text-align: center;
  }
  .blog-grid-blog img {
    margin: 0 auto;
    text-align: center;
  }
  .sidebar-content .post-content {
    position: relative;
    left: 0;
  }
  .blog-list-medium-blog {
    text-align: center;
  }
  .blog-list-medium-blog img {
    text-align: center;
    margin: 0 auto;
  }
  .button-area {
    padding: 15px 0px;
  }
  .view-meta li a {
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .right-side-content {
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .blog-grid-blog {
    text-align: center;
  }
  .blog-grid-blog img {
    margin: 0 auto;
    text-align: center;
  }
  .sidebar-content .post-content {
    position: relative;
    left: 0;
  }
  .blog-meta .date {
    position: relative;
  }
  .blog-meta .blog-meta-text {
    margin-left: 0px;
  }
  .blog-meta .blog-meta-text .view-meta li a {
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .blog-meta-info h3 {
    font-size: 16px;
  }
  .button-area {
    padding: 15px 0px;
  }
  #blog .media-body {
    width: 0px;
    display: inline;
  }
  #blog-no-sidebar .media-body,
  #blog-no-sidebar .media-left,
  #blog-no-sidebar .media-right {
    display: inline;
    text-align: center;
  }
  #blog-no-sidebar .media-body img,
  #blog-no-sidebar .media-left img,
  #blog-no-sidebar .media-right img {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .right-side-content {
    margin-top: 30px;
  }
}
@media (max-width: 360px) {
  .blog-meta .date {
    position: relative;
  }
  .blog-meta .blog-meta-text {
    margin-left: 0px;
  }
  .blog-meta .blog-meta-text .view-meta li a {
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .view-meta li {
    margin-bottom: 10px;
    margin-right: 0px;
  }
  .button-area {
    padding: 15px 0px;
  }
  #blog .media-body,
  #blog .media-left,
  #blog .media-right {
    display: inline;
    text-align: center;
  }
  #blog .media-body img,
  #blog .media-left img,
  #blog .media-right img {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .reply-comment {
    float: none;
  }
  #blog-no-sidebar .media-body,
  #blog-no-sidebar .media-left,
  #blog-no-sidebar .media-right {
    display: inline;
    text-align: center;
  }
  #blog-no-sidebar .media-body img,
  #blog-no-sidebar .media-left img,
  #blog-no-sidebar .media-right img {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .content-center {
    padding: 0px;
  }
}
@media (max-width: 320px) {
  .blog-meta .date {
    position: relative;
  }
  .blog-meta .blog-meta-text {
    margin-left: 0px;
  }
  .blog-meta .blog-meta-text .view-meta li a {
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .view-meta li {
    margin-bottom: 10px;
    margin-right: 0px;
  }
  .button-area {
    padding: 15px 0px;
  }
  #blog .media-body,
  #blog .media-left,
  #blog .media-right {
    display: inline;
    text-align: center;
  }
  #blog .media-body img,
  #blog .media-left img,
  #blog .media-right img {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .reply-comment {
    float: none;
  }
  .content-center {
    padding: 0px;
  }
  #blog-no-sidebar .media-body,
  #blog-no-sidebar .media-left,
  #blog-no-sidebar .media-right {
    display: inline;
    text-align: center;
  }
  #blog-no-sidebar .media-body img,
  #blog-no-sidebar .media-left img,
  #blog-no-sidebar .media-right img {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
  }
}
