/*	 	color
------------------*/
/*	Border Color
-----------------------*/
/*	fonts
--------------*/
/*  transitions
------------------*/
.t3s {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.bdr3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/*    Position Absulate and Relative
--------------------------------------*/
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pa-reset {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  content: "";
}
/*    Display
----------------*/
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.di {
  display: inline;
}
.dif {
  display: inline-flex;
}
/*    Font-weight
-----------------------*/
.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.fw800 {
  font-weight: 800;
}
.fw900 {
  font-weight: 900;
}
/*    Font-weight
-----------------------*/
.bg {
  background-repeat: no-repeat;
  background-size: cover;
}
/*	Margin Padding
----------------------*/
.mb80 {
  margin-bottom: 80px;
}
.pdl15 {
  padding-left: 15px;
}
.pdr15 {
  padding-right: 15px;
}
a:hover,
a:focus,
a.active {
  text-decoration: none;
  outline: none;
}
h3 {
  font-size: 18px;
  line-height: 30px;
  font-family: 'Lato', sans-serif;
}
h5 {
  font-size: 14px;
}
p {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
}
ul {
  padding: 0p;
  margin: 0px;
  padding: 0;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'RobotoBold';
}
/* button
--------------------------*/
.button-btn {
  border: 0;
  border-radius: 5PX;
  display: inline-block;
  padding: 15px 30px;
  background: #2da9e9;
  color: #fff;
  font-size: 18px;
}
.meta-btn {
  padding: 10px 30px;
  background: #2da9e9;
  color: #ffffff;
  display: inline-block;
  border: 0;
  border-radius: 5px;
  font-family: 'RobotoBold';
}
.custom-input {
  border: none;
  padding: 5px 15px;
  height: 38px;
  width: 100%;
}
.clear {
  clear: both;
}
.bg-white {
  background: #fff;
}
.submit-button {
  background: #2da9e9 none repeat scroll 0 0;
  border-radius: 4px;
  color: #ffffff;
  font-family: "FiraSansBold";
  font-size: 14px;
  padding: 12px 30px 11px;
}
.section-padding {
  padding: 80px 0px;
}
.home-section-padding {
  padding: 76px 0px;
}
.margin-top-zero {
  margin-top: 0px !important;
}
.margin-bottom-zero {
  margin-bottom: 0px !important;
}
.padding-bottom-zero {
  padding-bottom: 0px !important;
}
.section-head {
  max-width: 620px;
  margin: 0 auto;
}
.section-head h2 {
  margin: 0px;
  font-size: 36px;
  color: #2a2b2c;
}
.sub-head span {
  margin-bottom: 12px;
  font-size: 12px;
  font-family: 'RobotoBold';
  color: #2a2b2c;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2a2b2c;
  opacity: 0.8;
}
.section-head-bottom {
  margin-bottom: 28px;
}
.submit-btn-more {
  padding: 14px 18px;
  background: #2da9e9;
  display: inline-block;
  color: #ffffff;
  border-radius: 5px;
  border: 0px;
}
.border-bottom {
  border-bottom: 0;
}
.absolute {
  position: absolute;
}
.bg-white {
  background: transparent !important;
}
.mt100 {
  margin-top: 100px !important;
}
.property-content-section {
  border: 1px solid #d8e2e5;
  background: #eef4f6;
  margin-top: 30px;
  margin-bottom: 20px;
}
.properties-head p {
  color: #90abb5 !important;
  font-size: 12px;
  font-family: 'FiraSansBold';
  letter-spacing: 2px;
  text-transform: uppercase;
}
.properties-head p span {
  color: #2da9e9;
  padding: 0px 10px;
  font-size: 12px;
  font-family: 'FiraSansBold';
  text-transform: uppercase;
}
.proerty-content {
  padding: 25px 30px;
}
#single-properties-section .single-properties {
  margin-top: 30px !important;
}
.property-single-view-inner .single-properties {
  margin-top: 30px !important;
}
.property-single-view-inner .find-map {
  margin-top: 30px;
}
.property-single-view-inner .find-map h4 {
  margin-bottom: 22px;
}
.property-single-view-inner .find-map-location-area {
  padding: 30px;
  background: #eef4f6;
}
.property-single-view-inner .find-map-location-area a {
  margin-bottom: 0px;
}
.property-single-view-inner .find-map-location-area #map-canvas {
  min-height: 483px !important;
}
.property-item ul {
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #d8e2e5;
}
.property-item ul li {
  list-style: none;
  display: inline-block;
}
.property-item ul li a {
  display: inline-block;
  padding: 15px 23px;
  color: #2a2b2c;
  font-family: 'LatoRegular';
  border-right: 1px solid #d8e2e5;
}
.property-item ul li a:hover {
  text-decoration: none;
}
.property-item ul li:last-child a {
  border-right: none;
}
.place {
  font-family: 'RobotoBold';
  font-size: 14px;
  color: #2da9e9;
}
.item-info p {
  margin: 0px;
}
.item-info p img {
  margin-bottom: 10px;
}
.collingwood {
  color: #90abb5 !important;
}
.place-number {
  font-family: 'LatoRegular';
  color: #2a2b2c;
}
/* property grid sideabr page
---------------------------------*/
.property-grid-top-line {
  background: #eef4f6;
  border-radius: 5px;
  margin-top: 80px;
  padding: 20px;
}
.property-grid-top-line span {
  font-family: 'FiraSansRegular';
  font-size: 12px;
  color: #90abb5;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.property-grid-top-line select {
  display: inline-block;
  max-width: 200px;
}
.property-grid-top-line .sort-style {
  text-align: right;
  float: right;
}
.property-grid-top-line .sort-style a {
  background: #ffffff;
  border-radius: 4px;
  display: inline-block;
  margin-right: 4px;
  margin-top: 3px;
  padding: 2px 10px;
}
.property-grid-top-line .sort-style a:hover {
  background: #2da9e9;
}
.property-grid-top-line .sort-style a:hover i {
  color: #ffffff;
}
.property-grid-top-line .sort-style a i {
  font-size: 18px;
  color: #90abb5;
}
.property-grid-top-line .sort-style a.active {
  background: #2da9e9;
}
.property-grid-top-line .sort-style a.active i {
  color: #ffffff;
}
.select-location select {
  max-width: 230px;
  height: 40px;
  color: #90abb5;
  font-family: 'FiraSansRegular';
}
.property-input {
  margin-bottom: 10px;
}
.property-btn {
  margin-bottom: 10px;
}
.property-btn button {
  width: 100%;
  text-align: center;
}
.right-top {
  margin-top: 40px;
}
/* property list page
-------------------------------*/
.property-table-data-info {
  margin-top: 30px;
}
.property-table-data-info .property-name {
  padding: 45px 30px;
  background: #eef4f6;
}
.property-table-data-info .property-name .bg-white {
  background: #ffffff !important;
  border-bottom: 10px solid #eef4f6;
}
.property-table-data-info .property-name .bg-white:hover {
  background: #2da9e9 !important;
  color: #ffffff;
}
.property-table-data-info .property-name .bg-white:hover p {
  color: #ffffff !important;
}
.property-table-data-info .property-name .bg-white:hover .submit-btn-more {
  background: #ffffff;
  color: #2da9e9;
  font-family: 'RobotoBold';
  box-shadow: 0px 17px 40px #2383b5;
}
.property-table-data-info .property-name .submit-btn-more {
  padding: 16px 20px;
  box-shadow: 0px 17px 40px transparent;
}
.table-data-info {
  position: relative;
  padding: 8px 270px 8px 12px;
}
.table-data-info .property-data-box {
  position: absolute;
  top: 0;
  margin-left: 90px;
}
.table-bottom-ten {
  margin-bottom: 10px;
}
.property-head-top-color {
  color: #90abb5;
  font-size: 12px;
  font-family: 'RobotoBold';
  text-transform: uppercase;
}
.property-head-top-color .table th {
  border: 0 !important;
  vertical-align: bottom;
}
.table > thead > tr > th {
  border: 0 none !important;
  vertical-align: bottom;
}
.property-data-box .Collingwood {
  color: #90abb5;
}
.vertical-middle {
  vertical-align: middle !important;
}
/* property single page
------------------------------------*/
.property-single-section.slider-section .owl-prev {
  position: absolute;
  top: -60px;
  right: 50px;
  background: #eef4f6 !important;
  color: #000 !important;
  padding: 10px 16px !important;
  border-radius: 0 !important;
}
.property-single-section.slider-section .owl-prev:hover {
  background: #2da9e9 !important;
  color: #ffffff !important;
  box-shadow: 0px 10px 10px 3px rgba(204, 204, 204, 0.75);
}
.property-single-section.slider-section .owl-next {
  position: absolute;
  top: -60px;
  right: 0px;
  background: #eef4f6 !important;
  color: #000 !important;
  padding: 10px 16px !important;
  border-radius: 0 !important;
}
.property-single-section.slider-section .owl-next:hover {
  background: #2da9e9 !important;
  color: #ffffff !important;
  box-shadow: 0px 10px 10px 3px rgba(204, 204, 204, 0.75);
}
.property-single-section h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}
.description-content {
  margin-top: 0px;
  border-bottom: 1px solid #eef4f6;
}
.description-content h4 {
  margin-bottom: 18px;
  margin-top: 37px;
}
.description-content p {
  margin-bottom: 18px;
}
.description-content .short-paragrap {
  padding: 90px 35px;
  color: #2da9e9;
  font-family: 'LatoItalic';
  font-size: 18px;
  line-height: 30px;
}
.checkbox-list-item {
  position: relative;
}
.checkbox-list-item .input-checkbox-list {
  width: 20px;
  height: 20px;
}
.checkbox-list-item span {
  position: absolute;
  left: 25px;
  top: 0;
}
.checkbox-feature-list {
  margin-top: 30px;
}
.inner-padding-left {
  padding-left: 15px;
  margin-top: 63px;
  margin-bottom: 0px;
}
.single-property-info {
  padding: 30px 55px 30px 30px;
  box-shadow: 0px 10px 34px 5px #c7c7c8;
  margin-bottom: 50px;
  margin-top: 30px;
}
.single-property-info ul li {
  position: relative;
  color: #90abb5 !important;
  padding: 10px 0px;
  font-family: 'LatoBold';
}
.single-property-info ul li span {
  position: absolute;
  right: 0;
  top: 10;
  color: #2a2b2c;
  font-family: 'LatoRegular';
}
#map-canvas {
  background-color: #212121;
  height: 175px;
  position: relative;
  z-index: 1;
}
.common-btn {
  text-transform: uppercase;
  font-family: 'RobotoBold';
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 50px;
  margin-top: 20px;
  color: #2da9e9;
  display: block;
}
.agent-contact-left-view {
  position: relative;
  padding: 30px;
  background: #eef4f6;
}
.agent-contact-left-view h5 {
  font-size: 14px;
  font-family: 'RobotoBold';
  color: #2a2b2c;
}
.agent-contact-left-view .agent-social-media ul li {
  display: inline-block;
}
.agent-contact-left-view .agent-social-media ul li a {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: inline-block;
  color: #90abb5;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  background: #ffffff;
  margin-right: 10px;
}
.agent-contact-left-view .agent-contact-img img {
  position: absolute;
  border-radius: 100px;
}
.agent-contact-left-view .social-content-media {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  padding-left: 125px;
}
.agent-contact-left-view span {
  color: #90abb5;
  font-family: 'RobotoRegular';
  font-size: 14px;
}
.agent-contact-left-view p {
  font-family: 'RobotoRegular';
  color: #2da9e9;
  font-size: 14px;
}
.agent-contact-wizard {
  margin-top: 20px;
}
.agent-contact-wizard p {
  color: #90abb5;
  letter-spacing: 2px;
  font-family: 'RobotoBold';
}
.agent-contact-wizard span {
  color: #de5454;
}
.agent-contact-wizard .custom-input-login {
  background: #ffffff;
  border: 1px solid #ddd !important;
  margin-bottom: 10px;
}
.agent-contact-wizard .message-box {
  height: 80px;
  border: 1px solid #ddd;
}
.agent-contact-wizard .content-color {
  color: #90abb5;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: 'RobotoBold';
}
.agent-contact-wizard .contact-btn {
  padding: 14px 28px;
  font-family: 'RobotoBold';
  font-size: 14px;
  color: #ffffff;
}
.find-agent {
  margin-top: 30px;
}
.find-agent h4 {
  margin-bottom: 22px;
}
.propery-img-catalog {
  position: relative;
}
.propery-img-catalog .red-heart-icon {
  color: #fff;
  font-size: 32px;
  left: 0;
  margin-left: 22.5px;
  margin-top: 16px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 999;
}
.propery-img-catalog .red-heart {
  color: #de5454;
  font-size: 32px;
  left: 0;
  margin-left: 22.5px;
  margin-top: 16px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 999;
}
.propery-img-catalog:hover .red-heart {
  opacity: 1;
}
