/*	 	color
------------------*/
/*	Border Color
-----------------------*/
/*	fonts
--------------*/
/*  transitions
------------------*/
.t3s {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.bdr3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/*    Position Absulate and Relative
--------------------------------------*/
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pa-reset {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  content: "";
}
/*    Display
----------------*/
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.di {
  display: inline;
}
.dif {
  display: inline-flex;
}
/*    Font-weight
-----------------------*/
.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.fw800 {
  font-weight: 800;
}
.fw900 {
  font-weight: 900;
}
/*    Font-weight
-----------------------*/
.bg {
  background-repeat: no-repeat;
  background-size: cover;
}
/*	Margin Padding
----------------------*/
.mb80 {
  margin-bottom: 80px;
}
.pdl15 {
  padding-left: 15px;
}
.pdr15 {
  padding-right: 15px;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.pdl0 {
  padding-left: 0 !important;
}
.pdr0 {
  padding-right: 0 !important;
}
/*	Title heading-bg{
-----------------------*/
.title-heading-bg {
  background: url("../images/global/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.title-heading-bg:before {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  content: "";
  background: rgba(42, 43, 44, 0.4);
}
.title-heading-bg .title-heading {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 61px;
}
.title-heading-bg .title-heading h1 {
  font-size: 24px;
  color: #ffffff;
  font-family: 'RobotoBold';
}
.breadcrumb-area {
  background: #eef4f6;
  border-bottom: 1px solid #d8e2e5;
  padding-top: 11px;
  padding-bottom: 14px;
}
.breadcrumb-area .breadcrumb-wrapper ul li {
  display: inline-block;
  padding-right: 6px;
}
.breadcrumb-area .breadcrumb-wrapper ul li a {
  color: #90abb5;
}
.breadcrumb-area .breadcrumb-wrapper ul li a i.home-icon {
  font-size: 18px;
}
.breadcrumb-area .breadcrumb-wrapper ul li a .arrow-icon {
  font-size: 12px;
}
.breadcrumb-area .breadcrumb-wrapper ul li:last-child a {
  color: #191717;
  font-family: 'LatoRegular';
}
.breadcrumb-area .breadcrumb-wrapper ul li .go-home {
  font-family: 'MyriadProRegular';
}
.blog-item-short-bar {
  background: #eef4f6;
  border-radius: 5px;
  margin-top: 80px;
  padding: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.blog-item-short-bar span {
  font-family: 'FiraSansRegular';
  font-size: 12px;
  color: #90abb5;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.blog-item-short-bar select {
  display: inline-block;
  max-width: 200px;
}
.blog-item-short-bar .sort-style {
  text-align: right;
  float: right;
}
.blog-item-short-bar .sort-style a {
  background: #ffffff;
  border-radius: 4px;
  display: inline-block;
  margin-right: 4px;
  margin-top: 3px;
  padding: 2px 10px;
}
.blog-item-short-bar .sort-style a:hover {
  background: #2da9e9;
}
.blog-item-short-bar .sort-style a:hover i {
  color: #ffffff;
}
.blog-item-short-bar .sort-style a i {
  font-size: 18px;
  color: #90abb5;
}
.blog-item-short-bar .sort-style a.active {
  background: #2da9e9;
}
.blog-item-short-bar .sort-style a.active i {
  color: #ffffff;
}
.single-shop-item {
  margin-top: 30px;
  margin-bottom: 15px;
}
.single-shop-item h3 {
  font-family: 'RobotoBold';
  color: #191717;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 7px;
}
.single-shop-item span {
  font-family: la-reg;
  font-size: 14px;
  color: #ee7c20;
}
.single-shop-item span s {
  color: #90abb5;
  padding-right: 10px;
}
.bottom-bar {
  background: #eef4f6;
  padding: 0 12px;
  margin-top: 30px;
  overflow: hidden;
}
.bottom-bar .bottom-p {
  font-family: 'FiraSansBold';
  font-size: 12px;
  letter-spacing: 2px;
  padding-left: 18px;
  padding-top: 24px;
  text-transform: uppercase;
  color: #90abb5;
}
.bottom-bar .bottom-p span {
  color: #2da9e9;
}
.shop-pagination {
  float: right;
}
.shop-pagination .pagination {
  margin-bottom: 15px;
}
.shop-pagination .pagination li {
  background: transparent !important;
}
.shop-pagination .pagination li a {
  font-family: 'FiraSansBold';
  font-size: 12px;
  color: #90abb5 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 2px;
  background: transparent;
  border: 0;
}
.shop-pagination .pagination li a:hover {
  background: #2da9e9;
  color: #ffffff !important;
}
.shop-pagination .pagination li.active a {
  background: #2da9e9;
  color: #ffffff !important;
  box-shadow: 0 17px 3px #ddd;
}
.shop-pagination .pagination .disabled a {
  background: transparent !important;
}
.shop-pagination .pagination .disabled a:hover {
  background: transparent !important;
  color: #90abb5 !important;
}
/*	Shop Sidebar
---------------------*/
.shop-sidebar {
  margin-top: 70px;
}
.shop-sidebar .cart h3 {
  font-size: 16px;
  color: #191717;
  margin-bottom: 1px;
}
.shop-sidebar .cart .box .single-item {
  position: relative;
  padding-top: 3px;
  padding-bottom: 16px;
  border-bottom: 1px solid #d8e2e5;
}
.shop-sidebar .cart .box .single-item i {
  position: absolute;
  font-size: 14px;
  color: #2da9e9;
  left: 0;
  top: 11px;
}
.shop-sidebar .cart .box .single-item .content {
  margin-left: 30px;
  position: relative;
}
.shop-sidebar .cart .box .single-item .content h4 {
  font-size: 14px;
  margin-bottom: 8px;
  font-family: 'LatoRegular';
}
.shop-sidebar .cart .box .single-item .content span {
  color: #ee7c20;
  font-family: 'LatoRegular';
  font-size: 14px;
}
.shop-sidebar .cart .box .single-item .content img {
  position: absolute;
  right: 0;
  top: 4px;
}
.shop-sidebar .cart .box .check-out {
  padding-top: 20px;
}
.shop-sidebar .cart .box .check-out p {
  font-size: 14px;
  font-family: 'LatoRegular';
  color: #191717;
  display: inline-block;
  margin-top: 8px;
}
.shop-sidebar .cart .box .check-out p span {
  color: #ee7c20;
}
.shop-sidebar .cart .box .check-out a {
  font-size: 14px;
  color: #ffffff;
  background: #2da9e9;
  padding: 9px 30px;
  float: right;
  display: inline-block;
  font-family: 'RobotoBold';
  border-radius: 4px;
}
.shop-sidebar .filter {
  margin-top: 27px;
}
.shop-sidebar .filter h3 {
  font-size: 16px;
  color: #191717;
  margin-bottom: 14px;
  font-family: 'FiraSansBold';
  letter-spacing: 1px;
}
.shop-sidebar .filter span {
  color: #90abb5;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'FiraSansBold';
  letter-spacing: 1px;
}
.shop-sidebar .filter .box {
  margin-top: 25px;
}
.shop-sidebar .filter .box ul {
  padding: 0;
  padding-bottom: 12px;
}
.shop-sidebar .filter .box ul li {
  position: relative;
  /* SQUARED TWO */
}
.shop-sidebar .filter .box ul li .icon-checkbox {
  position: absolute;
  width: 28px;
  top: 0;
  left: 0;
}
.shop-sidebar .filter .box ul li .squaredTwo {
  width: 22px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #d8e2e5;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}
.shop-sidebar .filter .box ul li .squaredTwo:hover {
  border-color: #ffffff;
}
.shop-sidebar .filter .box ul li .squaredTwo:hover label {
  background: #2da9e9;
}
.shop-sidebar .filter .box ul li .squaredTwo label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0%;
  top: 0;
  border-radius: 4px;
  background: white;
}
.shop-sidebar .filter .box ul li .squaredTwo label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 1px solid #000;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.shop-sidebar .filter .box ul li .squaredTwo label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.shop-sidebar .filter .box ul li .squaredTwo input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.shop-sidebar .filter .box ul li .squaredTwo input[type=checkbox]:checked + label {
  background: #2da9e9;
  border-color: #ffffff !important;
}
.shop-sidebar .filter .box ul li .squaredthree {
  width: 22px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #d8e2e5;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}
.shop-sidebar .filter .box ul li .squaredthree:hover {
  border-color: #ffffff;
}
.shop-sidebar .filter .box ul li .squaredthree:hover label {
  background: #2da9e9;
}
.shop-sidebar .filter .box ul li .squaredthree label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0%;
  top: 0;
  border-radius: 4px;
  background: white;
}
.shop-sidebar .filter .box ul li .squaredthree label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 1px solid #000;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.shop-sidebar .filter .box ul li .squaredthree label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.shop-sidebar .filter .box ul li .squaredthree input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.shop-sidebar .filter .box ul li .squaredthree input[type=checkbox]:checked + label {
  background: #2da9e9;
  border-color: #ffffff !important;
}
.shop-sidebar .filter .box ul li .squaredfour {
  width: 22px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #d8e2e5;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}
.shop-sidebar .filter .box ul li .squaredfour:hover {
  border-color: #ffffff;
}
.shop-sidebar .filter .box ul li .squaredfour:hover label {
  background: #2da9e9;
}
.shop-sidebar .filter .box ul li .squaredfour label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0%;
  top: 0;
  border-radius: 4px;
  background: white;
}
.shop-sidebar .filter .box ul li .squaredfour label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 1px solid #000;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.shop-sidebar .filter .box ul li .squaredfour label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.shop-sidebar .filter .box ul li .squaredfour input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.shop-sidebar .filter .box ul li .squaredfour input[type=checkbox]:checked + label {
  background: #2da9e9;
  border-color: #ffffff !important;
}
.shop-sidebar .filter .box ul li .squaredfive {
  width: 22px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #d8e2e5;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}
.shop-sidebar .filter .box ul li .squaredfive:hover {
  border-color: #ffffff;
}
.shop-sidebar .filter .box ul li .squaredfive:hover label {
  background: #2da9e9;
}
.shop-sidebar .filter .box ul li .squaredfive label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0%;
  top: 0;
  border-radius: 4px;
  background: white;
}
.shop-sidebar .filter .box ul li .squaredfive label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 1px solid #000;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.shop-sidebar .filter .box ul li .squaredfive label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.shop-sidebar .filter .box ul li .squaredfive input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.shop-sidebar .filter .box ul li .squaredfive input[type=checkbox]:checked + label {
  background: #2da9e9;
  border-color: #ffffff !important;
}
.shop-sidebar .filter .box ul li .squaredsix {
  width: 22px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #d8e2e5;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}
.shop-sidebar .filter .box ul li .squaredsix:hover {
  border-color: #ffffff;
}
.shop-sidebar .filter .box ul li .squaredsix:hover label {
  background: #2da9e9;
}
.shop-sidebar .filter .box ul li .squaredsix label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0%;
  top: 0;
  border-radius: 4px;
  background: white;
}
.shop-sidebar .filter .box ul li .squaredsix label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 1px solid #000;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.shop-sidebar .filter .box ul li .squaredsix label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.shop-sidebar .filter .box ul li .squaredsix input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.shop-sidebar .filter .box ul li .squaredsix input[type=checkbox]:checked + label {
  background: #2da9e9;
  border-color: #ffffff !important;
}
.shop-sidebar .filter .box ul li .squaredseven {
  width: 22px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #d8e2e5;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}
.shop-sidebar .filter .box ul li .squaredseven:hover {
  border-color: #ffffff;
}
.shop-sidebar .filter .box ul li .squaredseven:hover label {
  background: #2da9e9;
}
.shop-sidebar .filter .box ul li .squaredseven label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0%;
  top: 0;
  border-radius: 4px;
  background: white;
}
.shop-sidebar .filter .box ul li .squaredseven label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 1px solid #000;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.shop-sidebar .filter .box ul li .squaredseven label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.shop-sidebar .filter .box ul li .squaredseven input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.shop-sidebar .filter .box ul li .squaredseven input[type=checkbox]:checked + label {
  background: #2da9e9;
  border-color: #ffffff !important;
}
.shop-sidebar .filter .box ul li .squaredeight {
  width: 22px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #d8e2e5;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}
.shop-sidebar .filter .box ul li .squaredeight:hover {
  border-color: #ffffff;
}
.shop-sidebar .filter .box ul li .squaredeight:hover label {
  background: #2da9e9;
}
.shop-sidebar .filter .box ul li .squaredeight label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0%;
  top: 0;
  border-radius: 4px;
  background: white;
}
.shop-sidebar .filter .box ul li .squaredeight label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 1px solid #000;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.shop-sidebar .filter .box ul li .squaredeight label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.shop-sidebar .filter .box ul li .squaredeight input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.shop-sidebar .filter .box ul li .squaredeight input[type=checkbox]:checked + label {
  background: #2da9e9;
  border-color: #ffffff !important;
}
.shop-sidebar .filter .box ul li .squarednine {
  width: 22px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #d8e2e5;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}
.shop-sidebar .filter .box ul li .squarednine:hover {
  border-color: #ffffff;
}
.shop-sidebar .filter .box ul li .squarednine:hover label {
  background: #2da9e9;
}
.shop-sidebar .filter .box ul li .squarednine label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0%;
  top: 0;
  border-radius: 4px;
  background: white;
}
.shop-sidebar .filter .box ul li .squarednine label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 1px solid #000;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.shop-sidebar .filter .box ul li .squarednine label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.shop-sidebar .filter .box ul li .squarednine input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.shop-sidebar .filter .box ul li .squarednine input[type=checkbox]:checked + label {
  background: #2da9e9;
  border-color: #ffffff !important;
}
.shop-sidebar .filter .box ul li .content {
  margin-left: 30px;
  position: relative;
}
.shop-sidebar .filter .box ul li .content p {
  display: inline-block;
  background: #ffffff;
  z-index: 9999;
  padding-right: 15px;
  font-family: 'FiraSansRegular';
}
.shop-sidebar .filter .box ul li .content span {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  background: #ffffff;
  padding-left: 15px;
}
.shop-sidebar .filter .box ul li .content .dotted {
  width: 80%;
}
.shop-sidebar .filter .box ul li .content .dotted:after {
  left: 0;
  content: "";
  width: 100%;
  position: absolute;
  top: 12px;
  height: 1px;
  color: #191717;
  z-index: -1;
  background: url('../images/shop/20.png');
}
.shop-sidebar .by-price h4 {
  color: #90abb5;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'FiraSansBold';
  letter-spacing: 1px;
}
.shop-sidebar .by-price .form-group {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 16px;
}
.shop-sidebar .by-price .form-group input {
  width: 95px;
  height: 30px;
  display: inline-block;
  background: #eef4f6;
}
.shop-sidebar .by-price .form-group input:focus {
  box-shadow: none !important;
}
.shop-sidebar .by-price .form-group label {
  display: inline-block;
  font-family: la-reg;
  font-size: 14px;
}
.shop-sidebar .by-price .slider.slider-horizontal {
  height: 3px;
}
.shop-sidebar .by-price .slider.slider-horizontal .slider-track {
  height: 3px;
}
.shop-sidebar .by-price .slider.slider-horizontal .slider-handle {
  background: #ffffff;
  box-shadow: 0 1px 1px #4d4d4d;
  top: -12px;
}
.shop-sidebar .by-price #slider12c .slider-track-high {
  background: #d8e2e5;
}
.shop-sidebar .by-price #slider12c .slider-track-low {
  background: #d8e2e5;
}
.shop-sidebar .by-price #slider12c .slider-selection {
  background: #ee7c20;
}
/*	Partners
---------------*/
.partners-area {
  padding: 70px 0;
  margin-top: 80px;
  overflow: hidden;
  background: #2da9e9;
}
.partners-area .all-partner img {
  opacity: .3 !important;
}
.partners-area .all-partner .image-one {
  margin-top: 9px;
}
.partners-area .all-partner .image-two {
  margin-top: 13px;
}
.partners-area .all-partner .image-three {
  margin-top: 16px;
}
.partners-area .all-partner .image-four {
  margin-top: 7px;
}
.partners-area .all-partner .image-five {
  margin-top: 12px;
}
/*	Bottom Area
--------------------*/
.bottom-area {
  background: #272829;
  padding-top: 50px;
  padding-bottom: 42px;
}
.bottom-area .about {
  padding-top: 23px;
}
.bottom-area .about h3 {
  color: #ffffff;
  margin-bottom: 32px;
}
.bottom-area .about p {
  color: #8b8b8b;
  margin-bottom: 25px;
}
.bottom-area .recent-properties {
  padding-top: 23px;
  padding-bottom: 28px;
}
.bottom-area .recent-properties h3 {
  color: #ffffff;
  margin-bottom: 32px;
}
.bottom-area .recent-properties .single {
  position: relative;
  padding-bottom: 8px;
}
.bottom-area .recent-properties .single img {
  position: absolute;
  top: 9px;
  left: 0;
  height: 70px;
  width: 70px;
  border-radius: 4px;
}
.bottom-area .recent-properties .single .content {
  margin-left: 85px;
  margin-top: 20px;
}
.bottom-area .recent-properties .single .content h4 {
  color: #ffffff;
  font-size: 14px;
  padding-top: 16px;
}
.bottom-area .recent-properties .single .content span {
  color: #8b8b8b;
  font-family: 'LatoRegular';
}
.bottom-area .recent-properties a {
  font-size: 12px;
  text-transform: uppercase;
  color: #8b8b8b;
  font-family: 'RobotoBold';
  margin-top: 30px;
  display: block;
}
.bottom-area .recent-properties a i {
  font-size: 18px !important;
  padding-top: 3px !important;
}
.bottom-area .links {
  padding-top: 23px;
}
.bottom-area .links h3 {
  color: #ffffff;
  margin-bottom: 27px;
}
.bottom-area .links ul {
  padding: 0;
}
.bottom-area .links ul li a {
  color: #8b8b8b;
  font-family: 'LatoRegular';
  font-size: 14px;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 5px;
  display: block;
  position: relative;
}
.bottom-area .links ul li a:before {
  position: absolute;
  left: 0;
  height: 1px;
  content: '';
  top: 17px;
  width: 10px;
  background: #8b8b8b;
}
.bottom-area .links ul li a:hover {
  color: #2da9e9;
}
.bottom-area .links ul li a:hover:before {
  background: #2da9e9;
}
.bottom-area .newsletter {
  padding-top: 23px;
}
.bottom-area .newsletter h3 {
  color: #ffffff;
  margin-bottom: 32px;
}
.bottom-area .newsletter p {
  color: #8b8b8b;
  margin-bottom: 25px;
}
.bottom-area .newsletter input {
  background: #191717 !important;
  border: 0;
  padding: 10px 12px !important;
}
.bottom-area .newsletter input:focus {
  box-shadow: none !important;
}
.bottom-area .newsletter a {
  font-size: 14px;
  color: #ffffff;
  font-family: 'RobotoBold';
  background: #2da9e9;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 4px;
}
/*	Footer Area
-----------------*/
.footer-area {
  background: #232425;
  text-align: center;
  padding-top: 46px;
  border-top: 1px solid #191717;
  box-shadow: 1px 2px 3px #191717;
}
.footer-area .footer {
  padding-bottom: 36px;
}
.footer-area .footer .content {
  padding-top: 17px;
}
.footer-area .footer .content p.first {
  color: #90abb5;
  font-family: 'RobotoBold';
  font-size: 14px;
  margin: 0;
  line-height: 24px;
}
.footer-area .footer .content p.second {
  font-family: 'RobotoRegular';
  font-size: 14px;
  color: #8b8b8b;
  line-height: 24px;
}
.footer-area .footer .content p.second span {
  color: #90abb5 !important;
  font-family: 'SacramentoRegular' !important;
  font-size: 24px !important;
  line-height: 24px !important;
}
.footer-social {
  display: inline-block;
}
.footer-social li {
  display: inline-block;
  margin: 4px;
}
.footer-social li a {
  background: #191717;
  padding: 4px 6px;
  border-radius: 3px;
}
.footer-social li a i {
  color: #8b8b8b;
}
.footer-social li .facebook-icon {
  padding: 4px 10px;
}
/*	Single Shop
------------------*/
.shop-detailed-item {
  position: relative;
  padding-top: 30px;
  overflow: hidden;
}
.shop-detailed-item .item-photo {
  margin-top: 50px;
}
.shop-detailed-item .zoom {
  display: inline-block;
  position: relative;
}
.shop-detailed-item .zoom:after {
  content: '';
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(icon.png);
}
.shop-detailed-item .zoom img {
  display: block;
}
.shop-detailed-item .zoom img::selection {
  background-color: transparent;
}
.shop-detailed-item .item-details {
  padding-top: 45px;
}
.shop-detailed-item .item-details .item-name {
  padding-bottom: 0;
}
.shop-detailed-item .item-details .item-name h2 {
  font-size: 24px;
  margin-bottom: 16px;
  margin-top: 0;
  font-family: 'RobotoBold';
  color: #191717;
}
.shop-detailed-item .item-details .item-name span {
  font-size: 14px;
  font-family: 'MyriadProRegular';
  color: #2da9e9;
}
.shop-detailed-item .item-details .item-name ul {
  display: inline-block;
}
.shop-detailed-item .item-details .item-name ul li {
  display: inline-block;
}
.shop-detailed-item .item-details .item-name ul li a i {
  color: #edcb2e;
  font-size: 18px;
}
.shop-detailed-item .item-details .price {
  padding: 15px 0;
  color: #ee7c20;
  font-size: 24px;
  font-family: 'RobotoBold';
}
.shop-detailed-item .item-details .price s {
  font-size: 18px;
  font-family: 'RobotoRegular';
  color: #90abb5;
  padding-top: 5px;
}
.shop-detailed-item .item-details .description {
  padding-bottom: 18px;
}
.shop-detailed-item .item-details .description p {
  color: #2a2b2c;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 2px;
  font-family: 'LatoRegular';
}
.shop-detailed-item .item-details .description p .bold {
  font-family: 'RobotoBold';
}
.shop-detailed-item .item-details .description p .yellow {
  color: #ee7c20;
}
.shop-detailed-item .item-details .description .first {
  padding-bottom: 20px;
}
.shop-detailed-item .item-details .quantity {
  border-top: 1px solid #d8e2e5;
  margin-top: 2px;
  padding-top: 19px;
}
.shop-detailed-item .item-details .quantity h5 {
  font-size: 12px;
  color: #90abb5;
  font-family: 'FiraSansBold';
  text-transform: uppercase;
  letter-spacing: 2px;
}
.shop-detailed-item .item-details .quantity p {
  font-family: 'FiraSansBold';
  color: #90abb5;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 22px;
}
.shop-detailed-item .item-details .quantity p span {
  color: #ee7c20 !important;
  font-size: 14px !important;
  font-family: 'LatoRegular' !important;
  text-transform: lowercase !important;
}
.shop-detailed-item .item-details .quantity .cart {
  background: #2da9e9;
  color: #ffffff;
  font-size: 14px;
  font-family: 'FiraSansBold';
  padding: 12px 30px 11px 30px;
  border-radius: 4px;
  margin-left: 5px;
}
.shop-detailed-item .item-details .quantity .watch {
  color: #2da9e9;
  font-size: 12px;
  font-family: 'FiraSansBold';
  padding: 15px 0;
  float: right;
  border-radius: 4px;
  margin-left: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
}
.shop-detailed-item .next-item .single-image {
  margin: 30px 0;
}
.shop-single-area .carousel {
  overflow: hidden;
}
.shop-single-area .carousel .carousel-inner {
  margin-bottom: 10px;
}
.shop-single-area .carousel .nav {
  display: inline-block;
}
.shop-single-area .carousel .nav li {
  display: inline-block;
  padding-right: 10px;
}
.shop-single-area .carousel .nav li a {
  display: inline;
  padding: 0;
  position: relative;
}
.shop-single-area .carousel .nav li a:hover {
  background: transparent;
}
.shop-single-area .carousel .nav li.active a {
  background: transparent;
}
/*	Shop Tab
-----------------*/
.shop-tab {
  padding-top: 33px;
}
.shop-tab .nav-tabs li a {
  color: #90abb5;
  font-size: 18px;
  font-family: 'RobotoBold';
  border: 0;
}
.shop-tab .nav-tabs li a:hover {
  border-bottom: 1px solid #2da9e9;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-family: 'RobotoBold';
  color: #191717;
}
.shop-tab .nav-tabs li.active a {
  border-bottom: 1px solid #2da9e9;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-family: 'RobotoBold';
  color: #191717;
}
.shop-tab .content p {
  margin: 0;
  line-height: 24px;
}
.shop-tab .content p.first {
  margin-top: 23px;
  margin-bottom: 23px;
}
.shop-tab .content p.last {
  margin-top: 23px;
  border-bottom: 1px solid #d8e2e5;
  padding-bottom: 42px;
}
.related-shop-item {
  position: relative;
}
.related-shop-item .owl-controls {
  position: absolute;
  top: -45px;
  right: 0;
}
.related-shop-item .owl-controls .owl-buttons .owl-prev {
  border-radius: 3px;
  background: #eef4f6;
  color: #90abb5;
  opacity: 1;
  font-size: 18px;
  padding: 3px 12px;
}
.related-shop-item .owl-controls .owl-buttons .owl-prev:hover {
  background: #2da9e9;
  color: #ffffff;
}
.related-shop-item .owl-controls .owl-buttons .owl-next {
  border-radius: 3px;
  background: #eef4f6;
  color: #90abb5;
  opacity: 1;
  font-size: 18px;
  padding: 3px 12px;
}
.related-shop-item .owl-controls .owl-buttons .owl-next:hover {
  background: #2da9e9;
  color: #ffffff;
}
.related-shop-item .owl-wrapper-outer {
  margin-top: 62px;
}
.input-output {
  display: inline-block;
  border: 1px solid #d8e2e5;
  border-radius: 4px;
  margin-top: 6px;
}
.input-output i {
  font-size: 18px;
  padding: 4px 12px;
  overflow: hidden;
  color: #d8e2e5;
  cursor: pointer;
}
.input-output input {
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid #d8e2e5;
  border-right: 1px solid #d8e2e5;
  color: #2da9e9;
  padding-left: 12px;
}
/*	Shop Cart
-----------------*/
.cart-items {
  margin-top: 50px;
  overflow: hidden;
}
.cart-items .table {
  margin-top: 30px;
}
.cart-items .table tr th {
  color: #90abb5;
  font-family: 'FiraSansRegular';
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-top: 0;
}
.cart-items .table tr th:first-child {
  padding-left: 28px;
}
.cart-items .table tr td:first-child {
  padding-left: 28px;
}
.cart-items .table tr td .single-item {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
}
.cart-items .table tr td .single-item img {
  position: absolute;
  top: 22px;
}
.cart-items .table tr td .single-item .content {
  margin-left: 80px;
  margin-top: 34px;
}
.cart-items .table tr td .single-item .content h4 {
  font-family: 'LatoBold';
  color: #191717;
  font-size: 14px;
  margin-top: 15px;
}
.cart-items .table tr td .single-item .content p {
  font-size: 14px;
  font-family: 'LatoRegular';
  color: #90abb5;
}
.cart-items .table tr td .single-item .content p span {
  color: #ee7c20;
}
.cart-items .table tr td .price {
  padding-top: 32px;
  font-family: 'LatoRegular';
  font-size: 14px;
  color: #2a2b2c;
}
.cart-items .table tr td .input-output {
  margin-top: 22px;
}
.cart-items .table tr td a {
  margin-top: 32px;
  display: block;
  overflow: hidden;
}
.shop-coupon {
  border-bottom: 1px solid #d8e2e5;
}
.shop-coupon ul li {
  display: inline-block;
}
.shop-coupon ul li .apply {
  padding: 12px 30px;
  background: #eef4f6;
  color: #90abb5;
  font-size: 14px;
}
.shop-coupon ul li .input-fild {
  margin-left: 20px;
}
.shop-coupon ul li .input-fild input {
  width: 200px;
  margin-top: 10px;
  height: 40px;
  border: 1px solid #d8e2e5;
}
.shop-coupon ul li .input-fild input:focus {
  box-shadow: none;
}
.shop-coupon ul li .apply-coupon h5 {
  font-size: 14px;
  font-family: 'RobotoBold';
  margin-bottom: 5px;
  margin-top: 0;
  line-height: 14px;
}
.shop-coupon ul li .apply-coupon a {
  color: #ee7c20;
  font-size: 12px;
  font-family: 'LatoRegular';
}
.shop-coupon ul li .apply-coupon a i {
  color: #90abb5;
}
.calculating-shiping-form {
  margin-top: 75px;
}
.calculating-shiping-form h3 {
  font-family: 'RobotoBold';
  color: #191717;
  font-size: 24px;
  margin-bottom: 30px;
  overflow: hidden;
}
.calculating-shiping-form input[type='text'] {
  margin-top: 10px;
  height: 40px;
  border: 1px solid #d8e2e5;
}
.calculating-shiping-form input[type='text']:focus {
  box-shadow: none;
}
.calculating-shiping-form input[type='submit'] {
  background: #eef4f6;
  color: #90abb5;
  font-family: 'RobotoBold';
  font-size: 14px;
  border: 0;
  padding: 8px 30px;
  margin-top: 10px;
  border-radius: 4px;
}
.checkout-total-price {
  background: #eef4f6;
  margin-top: 80px;
  padding: 24px 30px 28px 30px;
}
.checkout-total-price p {
  text-align: right;
  font-size: 14px;
  font-family: 'RobotoBold';
  color: #90abb5;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.checkout-total-price p span {
  padding-left: 45px;
  color: #191717;
}
.checkout-total-price p .yellow {
  color: #ee7c20;
}
.checkout-total-price p.last {
  padding-bottom: 24px;
  border-bottom: 1px solid #d8e2e5 !important;
}
.checkout-total-price button {
  background: #2da9e9;
  width: 100%;
  padding: 10px 0;
  color: #ffffff;
  font-family: 'RobotoBold';
  font-size: 14px;
  margin-top: 7px;
  border: 0;
  border-radius: 4px;
}
.checkout-total-price .multiple-check {
  font-family: 'LatoRegular';
  font-size: 14px;
  color: #90abb5;
  margin-top: 10px;
  text-align: center;
  display: block;
}
/*	Shop CheckOut
---------------------*/
.checkout-body {
  padding-top: 30px;
  overflow: hidden;
}
.checkout-body .primary {
  margin-top: 40px;
}
.checkout-body .primary p {
  font-size: 14px;
  font-family: 'LatoRegular';
  color: #000000;
  margin: 0;
  line-height: 30px;
}
.checkout-body .primary p a.login {
  color: #2da9e9;
}
.checkout-body .primary p a.enter-code {
  color: #ee7c20;
}
.checkout-body .primary h3 {
  font-size: 24px;
  color: #000000;
  font-family: 'RobotoBold';
  margin-top: 37px;
  margin-bottom: 33px;
}
.billing-detailed-form .form-group label {
  color: #90abb5;
  font-size: 12px;
  font-family: 'FiraSansRegular';
  text-transform: uppercase;
  letter-spacing: 2px;
}
.billing-detailed-form .form-group label span {
  color: #ee7c20;
}
.billing-detailed-form input:focus,
.billing-detailed-form textarea:focus {
  box-shadow: none !important;
  border-color: #2da9e9;
}
.billing-detailed-form .first-checkbox {
  margin-top: 10px;
  margin-bottom: 0;
}
.billing-detailed-form .first-checkbox span {
  font-family: 'FiraSansRegular';
  font-size: 14px;
  color: #191717;
}
.billing-detailed-form .first-checkbox p {
  margin-top: 13px;
  font-family: 'FiraSansRegular';
  font-size: 12px;
  text-transform: uppercase;
  color: #90abb5;
  margin-bottom: 0;
}
.billing-detailed-form .text-area-group {
  margin-bottom: 25px;
}
.shop-checkout-sidebar {
  background: #eef4f6;
  padding: 22px 30px;
  border-radius: 4px;
  margin-top: 50px;
}
.shop-checkout-sidebar h3 {
  border-bottom: 1px solid #d8e2e5;
  padding-bottom: 23px;
  margin-bottom: 19px;
  margin-top: 0;
}
.shop-checkout-sidebar h5 {
  font-family: 'LatoRegular';
  font-size: 14px;
}
.shop-checkout-sidebar .item-list p {
  margin: 0;
  font-size: 14px;
  color: #90abb5;
  line-height: 30px;
}
.shop-checkout-sidebar .item-list p span {
  float: right;
}
.shop-checkout-sidebar .box {
  border-top: 1px solid #d8e2e5;
  margin-top: 12px;
  padding-top: 5px;
}
.shop-checkout-sidebar .box p {
  border-bottom: 1px solid #d8e2e5;
  color: #191717;
  font-size: 14px;
  padding-bottom: 14px;
  padding-top: 2px;
  font-family: 'LatoRegular';
}
.shop-checkout-sidebar .box p span {
  float: right;
}
.shop-checkout-sidebar .pament-getway {
  font-family: 'FiraSansRegular';
  font-size: 14px;
  margin-top: 17px;
}
.shop-checkout-sidebar .pament-getway input {
  margin-right: 10px;
}
.shop-checkout-sidebar .pament-getway input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #2da9e9;
}
.shop-checkout-sidebar .pament-getway input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 4px solid #2da9e9;
}
.shop-checkout-sidebar .pament-getway img {
  margin-left: 15px;
}
.shop-checkout-sidebar .pament-getway button {
  width: 100%;
  border: 0;
  color: #ffffff;
  background: #2da9e9;
  font-size: 14px;
  text-align: center;
  font-family: 'RobotoBold';
  margin-top: 30px;
  padding: 10px 0;
  border-radius: 4px;
  margin-bottom: 10px;
}
.squaredeight {
  width: 22px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #d8e2e5;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}
.squaredeight:hover {
  border-color: #ffffff;
}
.squaredeight:hover label {
  background: #2da9e9;
}
.squaredeight label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0%;
  top: 0;
  border-radius: 4px;
  background: white;
}
.squaredeight label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 1px solid #000;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.another-address .squaredeight label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.another-address .squaredeight input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.another-address .squaredeight input[type=checkbox]:checked + label {
  background: #2da9e9;
  border-color: #ffffff !important;
}
.another-address .icon-checkbox {
  display: inline-block;
}
.another-address .content {
  display: inline-block;
  margin-left: 10px;
}
.billing-detailed-form .squarednine {
  width: 22px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #d8e2e5;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}
.billing-detailed-form .squarednine:hover {
  border-color: #ffffff;
}
.billing-detailed-form .squarednine:hover label {
  background: #2da9e9;
}
.billing-detailed-form .squarednine label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0%;
  top: 0;
  border-radius: 4px;
  background: white;
}
.billing-detailed-form .squarednine label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 5px;
  border: 1px solid #000;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.billing-detailed-form .first-checkbox .squarednine label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.billing-detailed-form .first-checkbox .squarednine input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.billing-detailed-form .first-checkbox .squarednine input[type=checkbox]:checked + label {
  background: #2da9e9;
  border-color: #ffffff !important;
}
.billing-detailed-form .first-checkbox .icon-checkbox {
  display: inline-block;
}
.billing-detailed-form .first-checkbox .content {
  display: inline-block;
  margin-left: 10px;
}
.shop-button-wizard .update-shop-btn {
  background: #eef4f6;
  color: #90abb5;
  font-size: 14px;
  font-family: 'RobotoBold';
  padding: 15px 23px;
}
.shop-button-wizard .shop-btn-btn {
  background: transparent;
  font-family: 'LatoRegular';
  font-size: 14px;
  color: #90abb5;
  border: 0;
  border-bottom: 1px solid #90abb5;
}
.shop-button-wizard button {
  margin: 0px 10px;
}
.shop-button-wizard .shop-input {
  border: 1px solid #90abb5 !important;
}
.shop-apply .custom-button-btn {
  padding: 15px 32px;
  background: #eef4f6 !important;
  color: #90abb5;
  font-family: 'RobotoBold';
  font-size: 14px;
  display: inline-block;
}
.input-fild .shop-input {
  height: 48px;
}
.shop-right-text a {
  background: #eef4f6;
  color: #90abb5;
  font-size: 14px;
  font-family: 'RobotoBold';
  padding: 15px 23px;
  border-radius: 4px;
  display: inline-block;
}
.apply-coupon-text h5 {
  margin-top: 0px;
}
.apply-coupon-text a {
  color: #de5454;
  text-decoration: underline;
}
.top-bottom-line {
  padding: 30px 0px;
  border-top: 1px solid #eef4f6;
  border-bottom: 1px solid #eef4f6;
}
