@media(min-width:1440px) and (max-width:2260px){
    .slider3 .tp-leftarrow.tparrows.default.round{
        top: 55% !important;
    }
    .slider3 .tp-rightarrow.tparrows.default.round{
        top: 55% !important;
    }
}

@media(min-width:1200px) and (max-width:1400px){
    /*Home 1*/
    .rev1Con{}
    .rev1Con h2{
        margin-top: 80px;
    }
    .rev1Con h5{
        margin-top: 70px;
    }
    .rev1Btn{
        margin-top: 65px;
    }
    .hlafimg img {
        height: 100%;
        width: auto;
    }
    .chochWrap {
        padding: 90px 0 30px;
    }
    .latestNewsIn{
        padding: 0;
    }
    .topcon{
        top: 10px;
    }
    .singlePortfolio:hover .topcon {
        top: 50px;
    }
    .botLink{
        bottom: 10px;
    }
    .singlePortfolio:hover .botLink {
        bottom: 50px;
    }
    .singleblog1 {
        padding: 20px 25px 20px;
    }
    .blogMeta a{
        line-height: 20px;
    }
    .blogTitle.ti2{
        line-height: 24px;
    }
    .topcon h2 {
        margin: 0 0 15px;
        line-height: 24px;
    }
    .singleblog1 p {
        padding-right: 0;
    }   

    /**home 2**/
    .tp-leftarrow.tparrows.default.round {
        left: 30px !important;
    }
    .tp-rightarrow.tparrows.default.round {
        right: 30px !important;
    }
    .singleServices2{
        padding-left: 50px;
        padding-right: 0;
    }
    .aboutTop{
        padding: 0;
    }
    .about2Cont {
        padding: 50px 80px;
    }
    .services.left{
        padding: 72px 80px 72px 120px;
    }
    .services.right{
        padding: 72px 120px 72px 80px;
    }
    .footerIn{
        padding: 0;
    }
    .peraadds{
        padding-right: 0;
    }
    .singleFnews{
        padding-top: 5px;
    }
    .footNewsTitle{
        line-height: 1.2;
    }
    .single3services {
        padding: 30px 20px 22px;
    }
    .single3services h2{
        margin-bottom: 15px;
    }
    /**Home 3**/
    .slider3 .tp-rightarrow.tparrows.default.round {
        right: 30px !important;
        top: 58% !important;
    }
    .slider3 .tp-leftarrow.tparrows.default.round {
        right: 30px !important;
        top: 58% !important;
    }
    .trustedClienttit {
        padding: 0 80px;
    }
    .singleCli3 img {
        height: 80px;
        width: 120px;
    }
    .client3wrap {
        margin-top: 0;
        padding: 0 50px;
    }


}

@media(min-width:768px) and (max-width:990px){
    .mainnav ul li ul.sub-menu ul.sub-menu {
        left: -260px;
        margin-left: 0;
    }
    .mainnav ul li ul.sub-menu li a::after {
        content: "\f104";
        left: 0;
        right: auto;
    }
    .mobileMenu {
        cursor: pointer;
        height: 30px;
        line-height: 0.1;
        position: absolute;
        right: 15px;
        top: -67px;
        width: 30px;
    }
    .mobileMenu span{
        width: 100%;
        height: 2px;
        background: #fff;
        display: inline-block;
        line-height: .1;
    }
    .wohours p.woTime,
    .wohours p{
        line-height: 24px;
    }
    .singlecon2info p, .singlecon2info a{
        font-size: 13px;
    }
    .mainnav.styleOne ul li{
        margin-right: 20px;
    }
    .mainnav.styleOne ul li ul.sub-menu{
        left: auto;
        right: auto;
    }
    .rev1Con h2 {
        font-size: 65px;
        text-align: center;
        line-height: 75px;
        margin-top: -200px;
    }
    .rev1Con h5 {
        color: #fff;
        font-size: 16px;
        margin-top: -30px;
        padding: 42px 100px;
    }
    .rev1Btn{
        margin-top: 300px
    }
    .tp-rightarrow.tparrows.default.round{
        right: 50px !important
    }
    .tp-leftarrow.tparrows.default.round{
        left: 50px !important
    }

    .singlefeature.agency {
        margin-bottom: 60px;
    }
    .featureDec h2{
        line-height: 25px;
    }
    .faacture {
        padding-bottom: 83px;
    }
    .singleChoice{
        padding-bottom: 70px;
    }
    .serProImg img{
        width: 100%;
    }
    .calltoacImg1 img{
        width: 100%;
        height: auto;
        right: 0;
    }
    .workProceBott p a{
        font-size: 13px;
    }
    .clientLogo a img{
        width: 100%;
    }
    .singCarousel{
        padding-left: 200px;
    }
    .clientCont {
        padding-left: 255px;
        padding-top: 25px;
    }
    .latestNewsIn{
        padding: 0;
    }
    .singleblog1{
        margin-bottom: 30px;
    }
    .callToAction1{
        margin-bottom: 0;
    }
    .hlafimg{
        position: relative;
        width: 100%;
    }
    .chochWrap {
        padding: 150px 0px 63px;
    }
    .singlePortfolio{
        margin-bottom: 30px;
    }
    .marginBottom30{
        margin-bottom: 0;
    }
    /**Home Two**/
    .rev2Con{
        text-align: center;
    }
    .rev2Con h2 {
        font-size: 50px;
        margin-left: 85px;
    }
    .rev2Con p{
        margin-top: -100px;
        text-align: center;
        margin-left: 45px;
    }
    .rev2Con a {
        margin-left: 300px;
        margin-top: 100px;
    }
    .header2 .mobileMenu{
        display: none;
    }
    .mainnav ul li{
        margin-right: 25px;
    }
    .services2.common_section {
        padding: 150px 0;
    }
    .ser2Img > img ,
    .singleTeam2 > img{
        width: 100%;
    }
    .ser2Content i{
        left: 10px;
        top: 0;
    }
    .ser2Content {
        margin: 10px 0 0;
        padding-left: 70px;
        position: relative;
    }
    .filterNav ul li{
        margin-left: 10px;
    }
    .tauthor p {
        line-height: 22px;
        margin: 0 10px;
    }
    .middleImg{
        left: 0;
    }
    .services h1{
        line-height: 25px;
    }
    .services.right,
    .services.left{
        padding: 50px;
    }
    .blogDec {
        padding: 36px 25px 30px;
    }
    .blogMeta a {
        display: inline-block;
        margin-bottom: 10px;
    }
    .footerIn{
        padding: 0;
    }
    .footnav ul li{
        margin-right: 18px;
    }
    .mainnav ul li.has-menu-items:last-child .sub-menu {
        right: auto;
        left: 0;
    }
    .mainnav ul li.has-menu-items ul.sub-menu li.has-menu-items:last-child .sub-menu {
        left: -260px;
    }
    .calltoacCont h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    /**Home Three**/
    .rev3Con{}
    .rev3Con p{
        margin-top: -100px;
    }
    .rev3btn{
        margin-top: 130px;
    }
    .noborderTab{
        border-right: none !important;
    }
    .callTabCont{
        margin-bottom: 50px;
    }
    .single3services{
        padding: 30px;
    }
    .borderBottomSer3 {
        border-right: 1px solid #393a3c;
    }
    .filterNav3 ul li{
        margin-right: 25px;
    }
    .featureImg img {
        width: 100%;
    }
    .creaBanner{
        padding: 60px;
    }
    .updateMeta > a {
        line-height: 22px;
    }
    .servicesproHom3 .singlePortfolio{
        margin-bottom: 30px;
    }
    .trustedClienttit {
        padding: 50px 15px 0;
    }
    /**About**/
    .singCllogo{
        margin-bottom: 30px;
    }
    .singleAbout3 p{
        padding: 0;
    }
    .projectIndetails li{
        line-height: 22px;
    }
    .blogSidebar,
    .blogSidebar.left{
        padding: 0;
    }
    .port2Img.marginBottom30{
        margin-bottom: 30px
    }
    .calltoacImg img {
        width: 100%;
    }
    .headerSocial {
        display: none;
    }
    .innerFun{
        margin-bottom: 30px;
    }
    .innerFun.tabHide:after{
        background: none;
    }
}
@media(min-width:991px) and (max-width:1024px){
    .headerSocial a {
        height: 27px;
        width: 27px;
        padding: 6px 5px;
        line-height: .8;
    }
    .ourWork .marginBottom30{
        margin-bottom: 30px !important;
    }
    .singleblog1 {
        padding: 63px 45px 50px 50px;
        margin-bottom: 30px;
    }
    .singlePortfolio{
        margin-bottom: 30px;
    }
    .marginBottom30{
        margin-bottom: 0;
    }
    .hlafimg {
        position: relative;
        width: 100%;
    }
    .calltoacImg1 img{
        width: 100%;
        right: auto;
    }
    .singlefeature.agency {
        margin-bottom: 60px;
    }
    .ser2Img > img {
        width: 100%;
    }
    .ser2Content {
        margin: 28px 0;
        padding-left: 100px;
    }
    .ser2Content i {
        left: 40px;
        top: 0;
    }
    .services.left,
    .services.right{
        padding: 60px
    }
    .rev2Con {
        margin-left: 150px;
    }
    .rev2Con h2{
        font-size: 50px;
    }
}
@media(min-width:800px) and (max-width:1280px){
    #testislider2 .tab-content{
        padding-left: 60px;
        padding-right: 60px;
    }
    .blogMeta a{
        line-height: 20px;
    }

}

@media(min-width:320px) and (max-width:767px){
    /**Home One**/
    .logo {
        margin: 20px 0;
    }
    .mobileMenu {
        cursor: pointer;
        height: 30px;
        line-height: 0.1;
        position: absolute;
        right: 15px;
        top: -45px;
        width: 30px;
    }
    .mobileMenu.active span{
        background: #01b1ae;
    }
    .mobileMenu span{
        width: 100%;
        height: 2px;
        background: #fff;
        display: inline-block;
        line-height: .1;
    }
    .mobileMenu.blacksp span{
        background: #333;
    }
    .header1.fixedHeader .mobileMenu {
        top: -38px;
    }
    .header1.fixedHeader .mobileMenu span{
        background: #333;
    }
    .header1.fixedHeader .mobileMenu.active span{
        background: #01b1ae;
    }
    .header1.fixedHeader .logo2 {
        margin: 14px 0;
    }
    .headerSocial.header{
        display: none;
    }
    .header1.fixedHeader .mainnav ul li ul.sub-menu li:hover ul.sub-menu, 
    .header2.fixedHeader .mainnav ul li ul.sub-menu li:hover ul.sub-menu{
        box-shadow: none;
    }
    .mainnav ul{
        display: none;
        background: #fff;
        padding: 15px 0 0;
        border-top: 1px solid #d2d2d2;
        overflow: scroll;
        height: 250px;
    }
    .mainnav ul ul.sub-menu{
        height: inherit;
    }
    .mainnav.styleOne {
        width: 100%;
        position: absolute;
        left: 0;
    }
    .mainnav.styleOne ul li {
        display: block;
        line-height: 0.8;
        margin-bottom: 15px;
        margin-right: 0;
        margin-top: 0;
        padding-bottom: 17px;
        position: relative;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #f7f7f7;
    }
    .mainnav ul li ul.sub-menu li a{
        margin: 15px 0;
    }
    .mainnav.styleOne ul li.has-menu-items.active{
        padding-bottom: 0;
    }
    .mainnav.styleOne ul li.has-menu-items.active a{
        color: #01b1ae;
    }
    .mainnav.styleOne ul li.has-menu-items.active ul.sub-menu li a{
        color: #333;
    }
    .mainnav.styleOne ul li ul.sub-menu li{
        border-color: #f7f7f7;
    }
    .mainnav.styleOne ul li a{
        color: #333;
    }
    .header1.fixedHeader .mainnav.styleOne ul li {
        margin: 0;
        padding: 15px 0;
    }
    .mainnav ul li ul.sub-menu {
        background: #fff !important;
        left: 0;
        margin-left: 0;
        opacity: 1;
        padding: 0;
        position: relative;
        right: 0;
        top: 0;
        transition: none ;
        visibility: visible;
        width: 100%;
        z-index: 1;
        transform: scaleY(1);
    }
    .mainnav.styleOne ul li ul.sub-menu {
        top: 0;
        margin-top: 5px;
        border-top: none;
    }
    .mainnav.styleOne ul li:hover ul.sub-menu {
        top: 0;
    }
    .mainnav ul li ul.sub-menu ul.sub-menu {
        left: 0;
        margin-left: 0;
        opacity: 1;
        position: relative;
        right: 0;
        top: 0;
        transform: scaleY(1);
        transform-origin: 1;
        visibility: visible;
        width: 100%;
        margin-top: 0;
    }
    .header1.fixedHeader .mainnav ul li:hover ul.sub-menu, 
    .header2.fixedHeader .mainnav ul li:hover ul.sub-menu {
        top: 0;
    }
    header.fixedHeader ul li ul.sub-menu{
        box-shadow: none;
    }
    .tp-rightarrow.tparrows.default.round {
        right: 100px !important;
        top: 90% !important;
    }
    .tp-leftarrow.tparrows.default.round {
        left: 100px !important;
        top: 90% !important;
    }
    .tparrows.default.round {
        height: 30px;
        width: 30px;
    }
    .tp-rightarrow.default.round::after,
    .tp-leftarrow.default.round::before{
        padding: 1px 10px;
    }
    .rev1Con h2 ,
    .rev2Con h2{
        font-size: 30px;
        text-align: center;
        margin-top: -110px;
        line-height: 40px;
    }
    .rev1Con h5 {
        font-size: 14px;
        line-height: 24px;
        margin-top: 60px;
    }
    .rev1Btn {
        text-align: center;
        margin-top: 210px;
    }
    .rev1Btn .poseidon_btn{
        padding: 20px 15px;
    }

    .hlafimg{
        position: relative;
        width: 100%;
    }
    .chochWrap {
        padding: 100px 0 40px;
    }
    .serProImg img {
        height: 100%;
        width: auto;
    }
    .serProImg{
        margin-right: 0;
        overflow: hidden;
    }
    .serCont{
        left: 0;
    }
    .serContIn{
        height: 300px;
    }
    .serCont p {
        margin-bottom: 12px;
        padding: 0 20px;
    }
    .callToactCont1 {
        margin-top: 0;
    }
    .calltoacImg1 img {
        position: relative;
        top: 0;
        width: 100%;
        height: auto;
    }
    .singleTeam{
        margin-bottom: 30px;
    }
    .workProceBott {
        margin-top: 50px;
    }
    .workProceBott p {
        margin: 0 0 50px;
    }
    .clientLogo a{
        margin-bottom: 20px;
    }
    .singCarousel {
        margin: 0 15px;
        min-height: 100%;
        padding-left: 0;
    }
    .singCarousel img {
        position: relative;
        margin-bottom: 25px;
    }
    .clientCont {
        padding-left: 15px;
        padding-top: 20px;
    }
    .marginBottom30{
        margin-bottom: 0;
    }
    .latestNewsIn {
        padding: 0;
    }
    .blogMeta a {
        margin-bottom: 13px;
        display: inline-block;
    }
    .singleblog1 {
        padding: 63px 15px 49px 15px;
        margin-bottom: 30px;
    }
    .instagram a:nth-child(3),
    .instagram a:nth-child(6) {
        margin-right: 7px;
    }
    .footnav ul{
        text-align: center;
    }
    .footnav ul li{
        margin-bottom: 10px;
        margin-right: 20px;
    }
    .copypera {
        text-align: center;
        margin-top: 20px;
    }
    .showit{
        right: 15px;
        bottom: 20px;
        display: none;
    }
    .innersecTitle h2{
        line-height: 40px;
    }
    .sectionTitle h2{
        line-height: 50px;
    }
    /**Home Two**/
    .header2.fixedHeader .logo2 {
        margin: 20px 0;
    }
    .logo2 {
        margin: 20px 0;
    }
    .mobileMenu.blacksp {
        top: -43px;
    }
    .mobileMenu.blacksp.active span{
        background: #01b1ae;
    }
    .mainnav ul li {
        border-bottom: 1px solid #f7f7f7;
        display: block;
        line-height: 0.8;
        margin-right: 0;
        margin-top: 13px;
        padding-bottom: 16px;
        position: relative;
        text-align: center;
    }
    .header2.fixedHeader .mainnav ul li {
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .header2.fixedHeader .mobileMenu.blacksp{
        top: -42px;
    }
    .mainnav ul li:hover ul.sub-menu{
        top: 0;
    }
    .mainnav ul li ul.sub-menu{
        margin-top: 20px
    }
    .rev2Con a {
        margin-left: 70px;
    }
    .topInfo p{
        margin-right: 5px;
        font-size: 12px;
    }
    .topInfo i{
        margin-right: 5px;
    }
    .headerSocial {
        text-align: center;
        margin-top: 10px;
    }
    .services2.common_section {
        padding: 150px 0 100px;
    }
    .singleServices2 {
        padding-left: 60px;
        margin-bottom: 50px;
    }
    .about2Cont {
        padding: 118px 0;
    }
    .aboutTop{
        padding: 0;
    }
    .noPaddingRight{
        padding-right: 15px !important;
    }
    .noPaddingLeft{
        padding-left: 15px !important;
    }
    .singleBservices2 {
        margin-bottom: 30px;
    }
    .ser2Content{
        padding-left: 60px;
    }
    .ser2Content i{
        left: 0;
        top: 0;
    }
    .ser2Img{
        overflow: hidden;
    }
    .ser2Img > img{
        width: auto;
    }
    .filterNav ul li{
        margin-left: 20px;
    }
    .filterHeadding{
        margin-bottom: 30px;
    }
    #testislider2 .tab-content,
    .test_tab_nav{
        padding: 0;
    }
    .test_tab_nav li {
        margin-top: 20px;
        width: 100%;
    }
    .tauthor h5{
        line-height: 18px;
    }
    .tauthor p{
        line-height: 15px;
    }
    .middleImg{
        left: 0;
    }
    .rightImg{
        right: 0;
    }
    .rightImg img{
        width: 100%;    
    }
    .services.left,
    .services.right{
        padding: 15px;
    }
    .services h1{
        line-height: 24px;
    }
    .calltoacImg img {
        width: 100%;
        height: auto;
        bottom: 0;
    }
    .noPadding{
        padding: 0 15px;
    }
    .blogDec {
        padding: 43px 20px 60px;
    }
    .footerIn{
        padding: 0;
    }
    /**Home Three**/
    .rev3Con{}
    .rev3Con h2{
        font-size: 30px;
        line-height: 30px;
    }
    .rev3Con p {
        line-height: 20px;
        margin-top: -100px;
        text-align: center;
    }
    .rev3btn {
        margin-top: 100px;
    }
    .rev3btn a {
        padding: 18px;
    }
    .services3 .noPadding{
        padding: 0;
    }
    .single3services {
        padding: 50px 15px 30px;
    }
    .callTabCont {
        padding-right: 0;
        padding-top: 0;
    }
    .call3actionNav li a{
        margin-bottom: 10px;
    }
    .trustedClienttit{
        padding: 20px 0;
    }
    .trustedClienttit p{
        padding: 0 15px;
    }
    .client3wrap{
        padding-left: 0;
        padding-right: 0;
    }
    .singleCli3 img{
        width: 100%;
        height: auto;
    }
    .calltoact3Img img {
        right: 0;
        width: 100%;
    }
    .filterNav3 ul li{
        margin-right: 15px;
    }
    .updateMeta, .updateMeta a{
        line-height: 20px;
    }
    .singlelatestup3 {
        margin-bottom: 30px;
    }
    .foot3social {
        text-align: center;
        margin-top: 15px;
    }
    .innerFun{
        margin-bottom: 40px;
    }
    .innerFun::after {
        left: auto;
        position: relative;
        right: auto;
        top: 20px;
    }
    .singleCli3 {
        padding: 15px;
        height: 120px;
    }
    .trustedClient .noPadding{
        padding: 0;
    }
    .singleCli3.borderBottom {
        border-right: 1px solid #c0c0c0;
    }
    .singleCli3.borderRight {
        border-bottom: 1px solid #c0c0c0;
    }
    .featureImg img {
        width: 100%;
    }
    .creaBanner{
        padding: 30px;
    }
    /**About**/
    .singCllogo{
        margin-bottom: 30px;
    }
    .singleServices2 p{
        padding: 0;
    }
    /**portfolio**/
    .filterContent{
        overflow: hidden;
    }
    .bread_cum h1{
        line-height: 60px;
    }
    .folioItem {
        padding-right: 0;
    }
    .folio1SingleItem{
        margin-bottom: 30px;
    }
    .projectIndetails li{
        line-height: 22px;
    }
    .singlepo2nav img {
        height: 100%;
        width: auto;
    }
    .port2Nav{
        overflow: hidden;
    }
    .blog_authorIn,
    .singleComments{
        padding-left: 0;
    }
    .blog_authorIn img,
    .singleComments img{
        position: relative;
    }
    .blogSidebar{
        padding-left: 0;
    }
    .blogDetailsSidebar{
        margin-top: 20px;
    }
    .blog_authorIn img{
        margin-bottom: 20px;
    }
    .contactformcPage{
        padding-right: 0;
    }
    .contact1info{
        margin-top: 40px;
    }
}
@media(min-width:320px) and (max-width:480px){
    .rev1Con h2{
        margin-top: 0px;
    }
    .rev1Con h5,
    .rev2Con p{
        display: none;
    }
    .rev1Btn{
        margin-top: 55px;
    }
}
@media(min-width:360px) and (max-width:640px){
    .rev1Con h2{
        margin-top: 30px;
    }
    .rev1Con h5{
        display: none;
    }
    .rev1Btn{
        margin-top: 55px;
    }
}
