.item_title h2:after {
    background-color: #fe3f51;
}
a {
    color: #595959;
}
a:hover{
    color: #fe3f51;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fe3f51;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fe3f51;
}
.galaxy-icon-box .icon-box-holder .fa-stack .main-icon {
  color: #fe3f51;
}
.galaxy-icon-box .icon-box-link-holder a:hover {
  border-color: #fe3f51;
}
.galaxy-icon-box:hover .icon-box-holder .fa-stack {
  border: 2px solid #fe3f51;  
}
.item_title h2 {
	color:#3f495b !important;
}
.item_title p{
    color: #4B566B !important;
}
#works h5.sub-title {
    color: #4B566B !important;
}
.team .team-photo {
    background-color: #fe3f51;
}
.team .team-wrapper {
    border: 2px solid #fe3f51;
}
.team .team-content .name {
	color:#3f495b;
}
.team .team-content .function {
	color:#3f495b;
}
.team .team-media .team-social {
    background-color: #1abc9c;
	border: 2px solid #12937a;
	color: #fff;
}
.team .team-media .team-social:hover {
	background-color:#1bcca9;
}
.team .team-wrapper:hover .team-photo {
	box-shadow:0 0 0 2px #1abc9c;
}
.btn-action{
	box-shadow: rgba(0,0,0,0.5) 0 1px 2px 0;
}
.btn-action:hover {
    background: #ff4d5d;
    border-color: #FFF;
}
.single_title_special_area:hover div i {
    color: #fe3f51;
}
.bg-color-features {
	background: #fe3f51 !important;
	border: 4px solid #da3646;
	color: #f0f3bd;
}
.features-box-wrapper.circle:hover {
	border: 4px solid #da3646;
    color: #fff;
}
.btn-custom{
    border:2px solid #fe3f51; 
    color:#fe3f51;
}
.btn-custom:hover{
    border:2px solid #ff4848; 
    color:#ff4848;
}
.call_to_action {
    background-color: #fe3f51;
}
.testimonial_headline h2 {
    color:#fe3f51;
}
.testimonial ol.carousel-indicators li {
    border: 2px solid rgba(255, 255, 255, 0.47);
    margin: 1PX
}
.testimonial ol.carousel-indicators li.active {
    border: 2px solid rgba(255, 255, 255, 0.47);
    background: #fe3f51;
}
.single_fun_facts i {
    color: #fe3f51;
}
.owl-theme .owl-controls .owl-page span {
    border: 2px solid #fe3f51;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #fe3f51;
}
.contact-list li strong i{
	color:#fe3f51;
}
.get-doawnload {
  border-bottom: 4px solid #fb293c;
  border-top: 2px solid #fb293c;
}
.btn-violet {
  background-color: #fe3f51;
  border: 2px solid #CB2525;
}
.btn-violet:hover{
	background-color: #ff5363;
	color:#fff;
}
.pricing-table .price-box {
    background: #FE3F51;
}
.pricing-table .heading-block .heading {
    background: #ff6372;
}
.pricing-table .price-box:after {
    color: #FE3F51;
}
.pricing-table .price-box .price {
    color: #FF4081;
}
.btn-primary {
    color: #fff;
	background-color: #fe3f51;
	border-color: #cc3443;
}
.btn-primary:hover {
    background-color: #ff6372;
	border-color: #c03263;
}
.bg-footer {
    background-color: #fe3f51;
}
.btn-new{
	background: #fe3f51;
}
.btn-new:hover{
	background: #e33949;
}
.vanilla-form input[type="button"],
.vanilla-form input[type="submit"],
.vanilla-form input[type="reset"],
.vanilla-form button {
    color: #ffffff;
	background-color: #fe3f51;
	border-color: #a50f47;
}

.vanilla-form input[type="submit"]:hover {
    color: #ffffff;
	background-color: #f82539;
	border-color: #a50f47;
}
.vanilla-form input:focus,
.vanilla-form textarea:focus,
.vanilla-form select:focus,
.vanilla-form input:active,
.vanilla-form textarea:active,
.vanilla-form select:active {
  outline: none;
  border: 1px solid #fe3f51;
}
.over-layer-app {
    background: rgba(254, 63, 81, 0.77);
}
.social-list li:hover{
  background-color: #15a88b;
}